In [10]:
import os
import pandas as pd
import numpy as np

# Read the CSV and Perform Basic Data Cleaning

In [12]:
hcpsc_key_file = "top_ten_list.csv"
top10_df = pd.read_csv(os.path.join("..", "Data", hcpsc_key_file),sep=',')
top10_df

  Occurance_top_10 Line_Service_top_10
0            99213               P9603
1            99214               A0425
2            99204               99213
3            99203               99214
4            99212               J1071
5            93000               J0585
6            36415               36415
7            99215               95004
8            96372               Q0138
9            G0008               G0471

In [3]:
input_data_file = "sort_data.txt"
df = pd.read_csv(os.path.join("..", "Data", input_data_file),sep='\t')
#df = pd.read_csv(os.path.join("..", "Data", input_data_file),sep='\t', nrows=5000000)

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
#df = df.dropna()
df.head()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,npi,nppes_provider_gender,nppes_entity_code,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,...,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,year,leie_code,leie
0,1205963402,M,I,ROCKVILLE,2.08521e+08,MD,US,Allergy/Immunology,Y,O,...,N,153.0,13.0,153.0,11.800000,25.000000,7.897516,2012,1128b4,On_List
1,1467447557,M,I,FLINT,4.85325e+08,MI,US,Family Practice,Y,O,...,N,93.0,65.0,93.0,129.454731,209.408602,97.705054,2017,1128a1,On_List
2,1952417610,M,I,HOUSTON,7.70813e+08,TX,US,Neurology,Y,O,...,N,36.0,35.0,36.0,40.992778,50.123611,25.856944,2014,1128a1,On_List
3,1467447557,M,I,FLINT,4.85325e+08,MI,US,Family Practice,Y,O,...,N,724.0,210.0,724.0,48.580000,150.000000,47.610000,2017,1128a1,On_List
4,1467447557,M,I,FLINT,4.85325e+08,MI,US,Family Practice,Y,O,...,N,11.0,11.0,11.0,25.000000,25.000000,6.985455,2017,1128a1,On_List

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56819227 entries, 0 to 56819226
Data columns (total 22 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_gender             object
 2   nppes_entity_code                 object
 3   nppes_provider_city               object
 4   nppes_provider_zip                object
 5   nppes_provider_state              object
 6   nppes_provider_country            object
 7   provider_type                     object
 8   medicare_participation_indicator  object
 9   place_of_service                  object
 10  hcpcs_code                        object
 11  hcpcs_description                 object
 12  hcpcs_drug_indicator              object
 13  line_srvc_cnt                     float64
 14  bene_unique_cnt                   float64
 15  bene_day_srvc_cnt                 float64
 16  average_Medicare_allowed_amt      float64
 17  average_submitted_chrg_amt        float64
 18  average_Medicare_payment_amt      float64
 19  year                              int64
 20  leie_code                         object
 21  leie                              object
dtypes: float64(6), int64(2), object(14)
memory usage: 9.3+ GB

In [6]:
new_df = df.loc[(df["leie"] == "On_List"), :]

In [7]:
#df = df.sort_values("leie", ascending=False)

In [8]:
new_df

,npi,nppes_provider_gender,nppes_entity_code,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,...,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,year,leie_code,leie
0,1205963402,M,I,ROCKVILLE,2.08521e+08,MD,US,Allergy/Immunology,Y,O,...,N,153.0,13.0,153.0,11.800000,25.000000,7.897516,2012,1128b4,On_List
1,1467447557,M,I,FLINT,4.85325e+08,MI,US,Family Practice,Y,O,...,N,93.0,65.0,93.0,129.454731,209.408602,97.705054,2017,1128a1,On_List
2,1952417610,M,I,HOUSTON,7.70813e+08,TX,US,Neurology,Y,O,...,N,36.0,35.0,36.0,40.992778,50.123611,25.856944,2014,1128a1,On_List
3,1467447557,M,I,FLINT,4.85325e+08,MI,US,Family Practice,Y,O,...,N,724.0,210.0,724.0,48.580000,150.000000,47.610000,2017,1128a1,On_List
4,1467447557,M,I,FLINT,4.85325e+08,MI,US,Family Practice,Y,O,...,N,11.0,11.0,11.0,25.000000,25.000000,6.985455,2017,1128a1,On_List
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60317,1447202205,M,I,HAZARD,41701,KY,US,General Practice,Y,O,...,N,175.0,111.0,175.0,4.320000,10.000000,4.230000,2014,1128a1,On_List
60318,1447202205,M,I,HAZARD,41701,KY,US,General Practice,Y,O,...,N,168.0,158.0,168.0,18.680000,40.000000,18.310000,2014,1128b4,On_List
60319,1659434108,M,I,ORLAND PARK,6.04627e+08,IL,US,General Surgery,Y,O,...,N,31.0,31.0,31.0,197.070000,400.000000,154.510000,2013,1128b4,On_List
60320,1447202205,M,I,HAZARD,41701,KY,US,General Practice,Y,O,...,N,171.0,161.0,171.0,15.620000,40.000000,15.310000,2014,1128a1,On_List
60321,1649373291,M,I,ENCINO,91316,CA,US,Internal Medicine,Y,O,...,N,712.0,128.0,712.0,113.820000,180.000000,81.597360,2016,1128a2,On_List

In [9]:
output_data_file = "mike_data.txt"
new_df.to_csv(os.path.join("..", "Data", output_data_file), index= False, sep='\t')