In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_updated = "UPDATED.csv"

In [3]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2012),sep='\t', nrows=200000)
updated_data_df = pd.read_csv(os.path.join("..", "Data", data_updated))
# Drop the null rows
#data_df = data_df.dropna()
#data_df.head()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
updated_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73850 entries, 0 to 73849
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LASTNAME    70693 non-null  object
 1   FIRSTNAME   70694 non-null  object
 2   MIDNAME     73850 non-null  object
 3   BUSNAME     3154 non-null   object
 4   GENERAL     73850 non-null  object
 5   SPECIALTY   69677 non-null  object
 6   UPIN        6259 non-null   object
 7   NPI         73850 non-null  int64
 8   DOB         69832 non-null  float64
 9   ADDRESS     73841 non-null  object
 10  CITY        73849 non-null  object
 11  STATE       73845 non-null  object
 12  ZIP         73850 non-null  int64
 13  EXCLTYPE    73850 non-null  object
 14  EXCLDATE    73850 non-null  int64
 15  REINDATE    73850 non-null  int64
 16  WAIVERDATE  73850 non-null  int64
 17  WVRSTATE    14 non-null     object
dtypes: float64(1), int64(5), object(12)
memory usage: 10.1+ MB

In [5]:
updated_data_df

,LASTNAME,FIRSTNAME,MIDNAME,BUSNAME,GENERAL,SPECIALTY,UPIN,NPI,DOB,ADDRESS,CITY,STATE,ZIP,EXCLTYPE,EXCLDATE,REINDATE,WAIVERDATE,WVRSTATE
0,NaN,NaN,,"#1 MARKETING SERVICE, INC",OTHER BUSINESS,SOBER HOME,NaN,0,NaN,239 BRIGHTON BEACH AVENUE,BROOKLYN,NY,11235,1128a1,20200319,0,0,NaN
1,NaN,NaN,,14 LAWRENCE AVE PHARMACY,PHARMACY,NaN,NaN,0,NaN,14 LAWRENCE AVENUE,SMITHTOWN,NY,11787,1128a1,19880830,0,0,NaN
2,NaN,NaN,,143 MEDICAL EQUIPMENT CO,DME COMPANY,DME - OXYGEN,NaN,0,NaN,701 NW 36 AVENUE,MIAMI,FL,33125,1128b7,19970620,0,0,NaN
3,NaN,NaN,,184TH STREET PHARMACY CORP,OTHER BUSINESS,PHARMACY,NaN,1922348218,NaN,69 E 184TH ST,BRONX,NY,10468,1128a1,20180419,0,0,NaN
4,NaN,NaN,,1951 FLATBUSH AVENUE PHARMACY,PHARMACY,NaN,NaN,0,NaN,1951 FLATBUSH AVE,BROOKLYN,NY,11234,1128b5,20090319,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73845,ZWOLINSKI,RUSSELL,K,NaN,"MEDICAL PRACTICE, MD",SURGERY,G25488,0,19670330.0,1728 W WINNEMAC AVE,CHICAGO,IL,60618,1128b4,20031020,0,0,NaN
73846,ZYDERVELD,MARY,ANN,NaN,PHARMACY,TECHNICIAN,NaN,0,19520825.0,1358 MORNING GLORY TURN,RUCKERSVILLE,VA,22962,1128b4,20090219,0,0,NaN
73847,ZYLSTRA,CHRISTEENA,LYNN,NaN,NURSING PROFESSION,NURSE/NURSES AIDE,NaN,0,19670724.0,1816 NE 49TH STREET,KANSAS CITY,MO,64118,1128b4,20100318,0,0,NaN
73848,ZYLSTRA,JAMES,PETER,NaN,REHAB FACILITY - GEN,EMPLOYEE,NaN,0,19550420.0,"2305 MINNESOTA BLVD, S E",ST CLOUD,MN,56304,1128a2,20040920,0,0,NaN
73849,ZYWOCINSKI,CYNTHIA,A,NaN,OSTEOPATHIC PRAC,OSTEOPATHY,F00244,0,19630316.0,117 WHITE TAIL LANE,LANCASTER,MA,1523,1128b14,19990720,0,0,NaN

In [8]:
updated_data_df.drop(updated_data_df[updated_data_df['NPI'] == 0].index, inplace = True)
updated_data_df.reset_index(inplace=True)
updated_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5635 entries, 0 to 5634
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       5635 non-null   int64
 1   LASTNAME    5263 non-null   object
 2   FIRSTNAME   5263 non-null   object
 3   MIDNAME     5635 non-null   object
 4   BUSNAME     371 non-null    object
 5   GENERAL     5635 non-null   object
 6   SPECIALTY   5514 non-null   object
 7   UPIN        1468 non-null   object
 8   NPI         5635 non-null   int64
 9   DOB         5264 non-null   float64
 10  ADDRESS     5635 non-null   object
 11  CITY        5635 non-null   object
 12  STATE       5634 non-null   object
 13  ZIP         5635 non-null   int64
 14  EXCLTYPE    5635 non-null   object
 15  EXCLDATE    5635 non-null   int64
 16  REINDATE    5635 non-null   int64
 17  WAIVERDATE  5635 non-null   int64
 18  WVRSTATE    8 non-null      object
dtypes: float64(1), int64(6), object(12)
memory usage: 836.6+ KB

In [9]:
updated_data_df

,index,LASTNAME,FIRSTNAME,MIDNAME,BUSNAME,GENERAL,SPECIALTY,UPIN,NPI,DOB,ADDRESS,CITY,STATE,ZIP,EXCLTYPE,EXCLDATE,REINDATE,WAIVERDATE,WVRSTATE
0,3,NaN,NaN,,184TH STREET PHARMACY CORP,OTHER BUSINESS,PHARMACY,NaN,1922348218,NaN,69 E 184TH ST,BRONX,NY,10468,1128a1,20180419,0,0,NaN
1,23,NaN,NaN,,"A & Y MEDICAL SUPPLY, INC",DME COMPANY,DME - GENERAL,NaN,1942476080,NaN,"6310 108TH STREET, APT 6J",FOREST HILLS,NY,11375,1128b8,20170518,0,0,NaN
2,27,NaN,NaN,,"A CARING ALTERNATIVE, INC",OTHER BUSINESS,HOME HEALTH AGENCY,NaN,1275600959,NaN,"1229 HURON RD E, FLR 6TH",CLEVELAND,OH,44115,1128a1,20130320,0,0,NaN
3,30,NaN,NaN,,"A FAIR DEAL PHARMACY, INC",OTHER BUSINESS,PHARMACY,NaN,1891731758,NaN,"C/O P O BOX 329014, #69709-05",BROOKLYN,NY,11232,1128b8,20170518,0,0,NaN
4,58,NaN,NaN,,"ACACIA MENTAL HEALTH CLINIC, L",OTHER BUSINESS,MENTAL/BEHAVIORAL HE,NaN,1851631543,NaN,5228 W FOND DU LAC AVENUE,MILWAUKEE,WI,53216,1128b7,20190326,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5630,73807,ZUCKERMAN,DAVID,H,NaN,IND- LIC HC SERV PRO,PODIATRY,U10438,1124024435,19540411.0,1803 COUNTRY CLUB DR,CHERRY HILL,NJ,8003,1128b4,20120920,0,0,NaN
5631,73814,ZUKOR,ALAN,J,NaN,DENTAL PRACTICE,DENTIST,T96408,1194930149,19500126.0,"9322 THIRD AVENUE, SUITE 204",BROOKLYN,NY,11209,1128b5,20090920,0,0,NaN
5632,73824,ZUPKOFF,GERALD,,NaN,IND- LIC HC SERV PRO,DENTIST,NaN,1578637385,19301230.0,245 PEPPERIDGE ROAD,HEWLETT,NY,11557,1128a1,20120920,0,0,NaN
5633,73829,ZURAWEK,TOMASZ,ADAM,NaN,"PHYSICIAN (MD, DO)",PULMONOLOGY,NaN,1558366815,19621215.0,"118 HIGHWAY 70 E, STE 2",DICKSON,TN,37055,1128a1,20160320,0,0,NaN
5634,73830,ZURAWIECKI,ROBERT,A,NaN,"PHYSICIAN (MD, DO)",GENERAL PRACTICE,NaN,1174561708,19450609.0,7454 SW 115TH COURT,MIAMI,FL,33173,1128b4,20161220,0,0,NaN