In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_file2012 = "Medicare_Provider_Util_Payment_PUF_CY2012.txt"
data_file2013 = "Medicare_Provider_Util_Payment_PUF_CY2013.txt"
data_file2014 = "Medicare_Provider_Util_Payment_PUF_CY2014.txt"
data_file2015 = "Medicare_Provider_Util_Payment_PUF_CY2015.txt"
data_file2016 = "Medicare_Provider_Util_Payment_PUF_CY2016.txt"
data_file2017 = "Medicare_Provider_Util_Payment_PUF_CY2017.txt"
data_updated = "UPDATED.csv"


provider_1 = 1104909043
provider_2 = 1568476968

In [3]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2012),sep='\t', nrows=500)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2012),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
#data_df.head()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9153273 entries, 0 to 9153272
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 1.9+ GB

In [4]:
data_df.drop(data_df[data_df['NPI'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['NPPES_PROVIDER_COUNTRY'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9153272 entries, 1 to 9153272
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 2.0+ GB

In [5]:
data_df

,NPI,NPPES_PROVIDER_LAST_ORG_NAME,NPPES_PROVIDER_FIRST_NAME,NPPES_PROVIDER_MI,NPPES_CREDENTIALS,NPPES_PROVIDER_GENDER,NPPES_ENTITY_CODE,NPPES_PROVIDER_STREET1,NPPES_PROVIDER_STREET2,NPPES_PROVIDER_CITY,...,HCPCS_DRUG_INDICATOR,LINE_SRVC_CNT,BENE_UNIQUE_CNT,BENE_DAY_SRVC_CNT,AVERAGE_MEDICARE_ALLOWED_AMT,STDEV_MEDICARE_ALLOWED_AMT,AVERAGE_SUBMITTED_CHRG_AMT,STDEV_SUBMITTED_CHRG_AMT,AVERAGE_MEDICARE_PAYMENT_AMT,STDEV_MEDICARE_PAYMENT_AMT
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,N,115.0,112.0,115.0,135.25,0.0,199.000000,0.000000,108.115652,0.900588
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,N,93.0,88.0,93.0,198.59,0.0,291.000000,9.591663,158.870000,0.000000
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,N,111.0,83.0,111.0,38.75,0.0,58.000000,0.000000,30.720721,2.929106
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,N,544.0,295.0,544.0,70.95,0.0,105.000000,0.000000,56.655662,2.431327
5,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,N,75.0,55.0,75.0,101.74,0.0,150.000000,0.000000,81.390000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9153268,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,N,69.0,69.0,69.0,130.23,0.0,319.884058,24.033513,104.180000,0.000000
9153269,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,N,99.0,98.0,99.0,191.48,0.0,481.292929,37.827159,153.180000,0.000000
9153270,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,N,462.0,202.0,462.0,68.59,0.0,174.073593,5.429497,54.779156,1.950507
9153271,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,N,189.0,105.0,189.0,98.33,0.0,251.444444,7.228203,78.341587,4.365855
9153272,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,N,164.0,157.0,164.0,101.33,0.0,257.487805,12.107490,80.680488,4.845287

In [6]:
data_df['NPPES_PROVIDER_ZIP'] = data_df['NPPES_PROVIDER_ZIP'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['NPPES_PROVIDER_ZIP'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['PLACE_OF_SERVICE']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['PLACE_OF_SERVICE']]
data_df['facility'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "F", 0)
data_df['outside'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "O", 0)
data_df['year'] = 2012

df_data_2012 = data_df.groupby(['NPPES_PROVIDER_STATE', 'PROVIDER_TYPE', 'year']).agg({'LINE_SRVC_CNT': ['median'],
                                                                                                      'facility' : ['median'],
                                                                                                      'outside' : ['median']})
       
df_data_2012

                                               LINE_SRVC_CNT facility outside
                                                      median   median  median
NPPES_PROVIDER_STATE PROVIDER_TYPE        year
AA                   Anesthesiology       2012          14.0     14.0     0.0
                     Diagnostic Radiology 2012          30.0     27.0     0.0
                     Emergency Medicine   2012          32.0     14.0     0.0
AE                   Anesthesiology       2012          21.0      0.0    19.0
                     CRNA                 2012          24.5     24.5     0.0
...                                                      ...      ...     ...
ZZ                   Otolaryngology       2012          30.5      0.0    12.5
                     Pathology            2012          31.0     22.0     0.0
                     Physician Assistant  2012          59.0      0.0    59.0
                     Psychiatry           2012          96.5     34.0     0.0
                     Urology              2012          21.0      0.0    21.0

[4197 rows x 3 columns]

In [7]:
df_data_2012 = df_data_2012.reset_index()
df_data_2012.columns = ['state', 'provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2012

,state,provider_type,year,line_srcv_median,facility_median,outside_median
0,AA,Anesthesiology,2012,14.0,14.0,0.0
1,AA,Diagnostic Radiology,2012,30.0,27.0,0.0
2,AA,Emergency Medicine,2012,32.0,14.0,0.0
3,AE,Anesthesiology,2012,21.0,0.0,19.0
4,AE,CRNA,2012,24.5,24.5,0.0
...,...,...,...,...,...,...
4192,ZZ,Otolaryngology,2012,30.5,0.0,12.5
4193,ZZ,Pathology,2012,31.0,22.0,0.0
4194,ZZ,Physician Assistant,2012,59.0,0.0,59.0
4195,ZZ,Psychiatry,2012,96.5,34.0,0.0
4196,ZZ,Urology,2012,21.0,0.0,21.0

In [8]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2013),sep='\t', nrows=5000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2013),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9287877 entries, 0 to 9287876
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 1.9+ GB

In [9]:
data_df.drop(data_df[data_df['NPI'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['NPPES_PROVIDER_COUNTRY'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9287876 entries, 1 to 9287876
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 2.0+ GB

In [10]:
data_df['NPPES_PROVIDER_ZIP'] = data_df['NPPES_PROVIDER_ZIP'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['NPPES_PROVIDER_ZIP'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['PLACE_OF_SERVICE']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['PLACE_OF_SERVICE']]
data_df['facility'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "F", 0)
data_df['outside'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "O", 0)
data_df['year'] = 2013


df_data_2013 = data_df.groupby(['NPPES_PROVIDER_STATE', 'PROVIDER_TYPE', 'year']).agg({'LINE_SRVC_CNT': ['median'],
                                                                                                      'facility' : ['median'],
                                                                                                      'outside' : ['median']})
       
df_data_2013

                                               LINE_SRVC_CNT facility outside
                                                      median   median  median
NPPES_PROVIDER_STATE PROVIDER_TYPE        year
AA                   Anesthesiology       2013          16.0     16.0     0.0
                     Diagnostic Radiology 2013          26.0     26.0     0.0
                     Emergency Medicine   2013          34.0     34.0     0.0
                     General Surgery      2013          22.0     22.0     0.0
                     Internal Medicine    2013          15.0     15.0     0.0
...                                                      ...      ...     ...
ZZ                   Physical Therapist   2013         123.0      0.0    98.5
                     Physician Assistant  2013          35.5      0.0    35.5
                     Psychiatry           2013          48.0     14.0     0.0
                     Pulmonary Disease    2013          13.0     13.0     0.0
                     Urology              2013          21.0      0.0    21.0

[4291 rows x 3 columns]

In [11]:
df_data_2013 = df_data_2013.reset_index()
df_data_2013.columns = ['state', 'provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2013

,state,provider_type,year,line_srcv_median,facility_median,outside_median
0,AA,Anesthesiology,2013,16.0,16.0,0.0
1,AA,Diagnostic Radiology,2013,26.0,26.0,0.0
2,AA,Emergency Medicine,2013,34.0,34.0,0.0
3,AA,General Surgery,2013,22.0,22.0,0.0
4,AA,Internal Medicine,2013,15.0,15.0,0.0
...,...,...,...,...,...,...
4286,ZZ,Physical Therapist,2013,123.0,0.0,98.5
4287,ZZ,Physician Assistant,2013,35.5,0.0,35.5
4288,ZZ,Psychiatry,2013,48.0,14.0,0.0
4289,ZZ,Pulmonary Disease,2013,13.0,13.0,0.0
4290,ZZ,Urology,2013,21.0,0.0,21.0

In [12]:
data_df_total = pd.concat([df_data_2012, df_data_2013])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8488 entries, 0 to 4290
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             8488 non-null   object
 1   provider_type     8488 non-null   object
 2   year              8488 non-null   int64
 3   line_srcv_median  8488 non-null   float64
 4   facility_median   8488 non-null   float64
 5   outside_median    8488 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 464.2+ KB

In [13]:
#data_df_total[240900:240920]

Empty DataFrame
Columns: [state, provider_type, year, line_srcv_median, facility_median, outside_median]
Index: []

In [14]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2014),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2014),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9316308 entries, 0 to 9316307
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.8+ GB

In [15]:
data_df.drop(data_df[data_df['npi'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['nppes_provider_country'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9316307 entries, 1 to 9316307
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [16]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9316307 entries, 1 to 9316307
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [17]:
data_df['nppes_provider_zip'] = data_df['nppes_provider_zip'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['nppes_provider_zip'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['place_of_service']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['place_of_service']]
data_df['facility'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "F", 0)
data_df['outside'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "O", 0)

data_df['year'] = 2014


df_data_2014 = data_df.groupby(['nppes_provider_state', 'provider_type', 'year']).agg({'line_srvc_cnt': ['median'],
                                                                                                      'facility' : ['median'],
                                                                                                      'outside' : ['median']})
       
df_data_2014

                                               line_srvc_cnt facility outside
                                                      median   median  median
nppes_provider_state provider_type        year
AA                   Anesthesiology       2014          19.0     19.0     0.0
                     Diagnostic Radiology 2014          24.0     24.0     0.0
                     Emergency Medicine   2014          20.0     19.0     0.0
                     Family Practice      2014          15.0      0.0    15.0
                     General Surgery      2014          45.0      0.0    27.0
...                                                      ...      ...     ...
ZZ                   Otolaryngology       2014          44.0      0.0    39.0
                     Pathology            2014          35.0     20.0     0.0
                     Physician Assistant  2014          39.0      0.0    34.0
                     Psychiatry           2014         108.5      0.0   108.5
                     Urology              2014          28.0     28.0     0.0

[4313 rows x 3 columns]

In [18]:
df_data_2014 = df_data_2014.reset_index()
df_data_2014.columns = ['state', 'provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2014

,state,provider_type,year,line_srcv_median,facility_median,outside_median
0,AA,Anesthesiology,2014,19.0,19.0,0.0
1,AA,Diagnostic Radiology,2014,24.0,24.0,0.0
2,AA,Emergency Medicine,2014,20.0,19.0,0.0
3,AA,Family Practice,2014,15.0,0.0,15.0
4,AA,General Surgery,2014,45.0,0.0,27.0
...,...,...,...,...,...,...
4308,ZZ,Otolaryngology,2014,44.0,0.0,39.0
4309,ZZ,Pathology,2014,35.0,20.0,0.0
4310,ZZ,Physician Assistant,2014,39.0,0.0,34.0
4311,ZZ,Psychiatry,2014,108.5,0.0,108.5
4312,ZZ,Urology,2014,28.0,28.0,0.0

In [19]:
data_df_total = pd.concat([data_df_total, df_data_2014])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12801 entries, 0 to 4312
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             12801 non-null  object
 1   provider_type     12801 non-null  object
 2   year              12801 non-null  int64
 3   line_srcv_median  12801 non-null  float64
 4   facility_median   12801 non-null  float64
 5   outside_median    12801 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 700.1+ KB

In [20]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2015),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2015),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9497892 entries, 0 to 9497891
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.8+ GB

In [21]:
data_df.drop(data_df[data_df['npi'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['nppes_provider_country'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9497891 entries, 1 to 9497891
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [22]:
data_df['nppes_provider_zip'] = data_df['nppes_provider_zip'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['nppes_provider_zip'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['place_of_service']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['place_of_service']]
data_df['facility'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "F", 0)
data_df['outside'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "O", 0)
data_df['year'] = 2015


df_data_2015 = data_df.groupby(['nppes_provider_state', 'provider_type', 'year']).agg({'line_srvc_cnt': ['median'],
                                                                                                      'facility' : ['median'],
                                                                                                      'outside' : ['median']})
       
df_data_2015

                                               line_srvc_cnt facility outside
                                                      median   median  median
nppes_provider_state provider_type        year
AA                   Anesthesiology       2015          12.0     12.0     0.0
                     Diagnostic Radiology 2015          32.0     32.0     0.0
                     Emergency Medicine   2015          38.5     38.5     0.0
                     Family Practice      2015          22.0      0.0    22.0
                     General Surgery      2015          38.0      0.0    29.0
...                                                      ...      ...     ...
ZZ                   Physician Assistant  2015          36.0      0.0    25.0
                     Preventive Medicine  2015          16.0     16.0     0.0
                     Psychiatry           2015          38.5      5.5     9.5
                     Pulmonary Disease    2015          83.5      0.0    13.0
                     Urology              2015          14.0      0.0    14.0

[4390 rows x 3 columns]

In [23]:
df_data_2015 = df_data_2015.reset_index()
df_data_2015.columns = ['state', 'provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2015

,state,provider_type,year,line_srcv_median,facility_median,outside_median
0,AA,Anesthesiology,2015,12.0,12.0,0.0
1,AA,Diagnostic Radiology,2015,32.0,32.0,0.0
2,AA,Emergency Medicine,2015,38.5,38.5,0.0
3,AA,Family Practice,2015,22.0,0.0,22.0
4,AA,General Surgery,2015,38.0,0.0,29.0
...,...,...,...,...,...,...
4385,ZZ,Physician Assistant,2015,36.0,0.0,25.0
4386,ZZ,Preventive Medicine,2015,16.0,16.0,0.0
4387,ZZ,Psychiatry,2015,38.5,5.5,9.5
4388,ZZ,Pulmonary Disease,2015,83.5,0.0,13.0
4389,ZZ,Urology,2015,14.0,0.0,14.0

In [24]:
data_df_total = pd.concat([data_df_total, df_data_2015])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17191 entries, 0 to 4389
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             17191 non-null  object
 1   provider_type     17191 non-null  object
 2   year              17191 non-null  int64
 3   line_srcv_median  17191 non-null  float64
 4   facility_median   17191 non-null  float64
 5   outside_median    17191 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 940.1+ KB

In [25]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2016),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2016),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9714897 entries, 0 to 9714896
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  AVERAGE_SUBMITTED_CHRG_AMT        float64
 24  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 25  AVERAGE_MEDICARE_STANDARD_AMT     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [26]:
data_df.drop(data_df[data_df['NPI'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['NPPES_PROVIDER_COUNTRY'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9714896 entries, 1 to 9714896
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  AVERAGE_SUBMITTED_CHRG_AMT        float64
 24  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 25  AVERAGE_MEDICARE_STANDARD_AMT     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 2.0+ GB

In [27]:
data_df['NPPES_PROVIDER_ZIP'] = data_df['NPPES_PROVIDER_ZIP'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['NPPES_PROVIDER_ZIP'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['PLACE_OF_SERVICE']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['PLACE_OF_SERVICE']]
data_df['facility'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "F", 0)
data_df['outside'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "O", 0)
data_df['year'] = 2016


df_data_2016 = data_df.groupby(['NPPES_PROVIDER_STATE', 'PROVIDER_TYPE', 'year']).agg({'LINE_SRVC_CNT': ['median'],
                                                                                                      'facility' : ['median'],
                                                                                                      'outside' : ['median']})
       
df_data_2016

                                                 LINE_SRVC_CNT facility  \
                                                        median   median
NPPES_PROVIDER_STATE PROVIDER_TYPE          year
AA                   Anesthesiology         2016          12.0     12.0
                     Diagnostic Radiology   2016          27.0     26.5
                     Emergency Medicine     2016          94.5     94.5
                     Family Practice        2016          22.0      0.0
                     General Surgery        2016          19.0      0.0
...                                                        ...      ...
ZZ                   Preventive Medicine    2016          35.0     35.0
                     Psychiatry             2016          45.0      0.0
                     Psychologist, Clinical 2016          51.5      0.0
                     Pulmonary Disease      2016          32.5     22.0
                     Thoracic Surgery       2016          13.5     13.5

                                                 outside
                                                  median
NPPES_PROVIDER_STATE PROVIDER_TYPE          year
AA                   Anesthesiology         2016     0.0
                     Diagnostic Radiology   2016     0.0
                     Emergency Medicine     2016     0.0
                     Family Practice        2016    22.0
                     General Surgery        2016    13.0
...                                                  ...
ZZ                   Preventive Medicine    2016     0.0
                     Psychiatry             2016    27.0
                     Psychologist, Clinical 2016    51.0
                     Pulmonary Disease      2016     0.0
                     Thoracic Surgery       2016     0.0

[4384 rows x 3 columns]

In [28]:
df_data_2016 = df_data_2016.reset_index()
df_data_2016.columns = ['state', 'provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2016

,state,provider_type,year,line_srcv_median,facility_median,outside_median
0,AA,Anesthesiology,2016,12.0,12.0,0.0
1,AA,Diagnostic Radiology,2016,27.0,26.5,0.0
2,AA,Emergency Medicine,2016,94.5,94.5,0.0
3,AA,Family Practice,2016,22.0,0.0,22.0
4,AA,General Surgery,2016,19.0,0.0,13.0
...,...,...,...,...,...,...
4379,ZZ,Preventive Medicine,2016,35.0,35.0,0.0
4380,ZZ,Psychiatry,2016,45.0,0.0,27.0
4381,ZZ,"Psychologist, Clinical",2016,51.5,0.0,51.0
4382,ZZ,Pulmonary Disease,2016,32.5,22.0,0.0
4383,ZZ,Thoracic Surgery,2016,13.5,13.5,0.0

In [29]:
data_df_total = pd.concat([data_df_total, df_data_2016])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21575 entries, 0 to 4383
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             21575 non-null  object
 1   provider_type     21575 non-null  object
 2   year              21575 non-null  int64
 3   line_srcv_median  21575 non-null  float64
 4   facility_median   21575 non-null  float64
 5   outside_median    21575 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 1.2+ MB

In [30]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2017),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2017),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9847444 entries, 0 to 9847443
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [31]:
data_df.drop(data_df[data_df['npi'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['nppes_provider_country'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9847443 entries, 1 to 9847443
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 2.0+ GB

In [32]:
data_df['nppes_provider_zip'] = data_df['nppes_provider_zip'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['nppes_provider_zip'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['place_of_service']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['place_of_service']]
data_df['facility'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "F", 0)
data_df['outside'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "O", 0)
data_df['year'] = 2017


df_data_2017 = data_df.groupby(['nppes_provider_state', 'provider_type', 'year']).agg({'line_srvc_cnt': ['median'],
                                                                                                      'facility' : ['median'],
                                                                                                      'outside' : ['median']})
       
df_data_2017

                                                 line_srvc_cnt facility  \
                                                        median   median
nppes_provider_state provider_type          year
AA                   Anesthesiology         2017          27.0     27.0
                     Diagnostic Radiology   2017          34.0     34.0
                     Emergency Medicine     2017          25.5     23.5
                     Family Practice        2017          21.0      0.0
                     General Surgery        2017          11.0      0.0
...                                                        ...      ...
ZZ                   Preventive Medicine    2017          36.0     36.0
                     Psychiatry             2017          37.0      0.0
                     Psychologist, Clinical 2017         137.0      0.0
                     Pulmonary Disease      2017          22.0     19.0
                     Rheumatology           2017          12.0      0.0

                                                 outside
                                                  median
nppes_provider_state provider_type          year
AA                   Anesthesiology         2017     0.0
                     Diagnostic Radiology   2017     0.0
                     Emergency Medicine     2017     0.0
                     Family Practice        2017    17.0
                     General Surgery        2017    11.0
...                                                  ...
ZZ                   Preventive Medicine    2017     0.0
                     Psychiatry             2017    37.0
                     Psychologist, Clinical 2017   136.5
                     Pulmonary Disease      2017     0.0
                     Rheumatology           2017    12.0

[4484 rows x 3 columns]

In [33]:
df_data_2017 = df_data_2017.reset_index()
df_data_2017.columns = ['state', 'provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2017

,state,provider_type,year,line_srcv_median,facility_median,outside_median
0,AA,Anesthesiology,2017,27.0,27.0,0.0
1,AA,Diagnostic Radiology,2017,34.0,34.0,0.0
2,AA,Emergency Medicine,2017,25.5,23.5,0.0
3,AA,Family Practice,2017,21.0,0.0,17.0
4,AA,General Surgery,2017,11.0,0.0,11.0
...,...,...,...,...,...,...
4479,ZZ,Preventive Medicine,2017,36.0,36.0,0.0
4480,ZZ,Psychiatry,2017,37.0,0.0,37.0
4481,ZZ,"Psychologist, Clinical",2017,137.0,0.0,136.5
4482,ZZ,Pulmonary Disease,2017,22.0,19.0,0.0
4483,ZZ,Rheumatology,2017,12.0,0.0,12.0

In [34]:
data_df_total = pd.concat([data_df_total, df_data_2017])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26059 entries, 0 to 4483
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             26059 non-null  object
 1   provider_type     26059 non-null  object
 2   year              26059 non-null  int64
 3   line_srcv_median  26059 non-null  float64
 4   facility_median   26059 non-null  float64
 5   outside_median    26059 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 1.4+ MB

In [35]:
data_df_total = data_df_total.fillna(0)
data_df_total

,state,provider_type,year,line_srcv_median,facility_median,outside_median
0,AA,Anesthesiology,2012,14.0,14.0,0.0
1,AA,Diagnostic Radiology,2012,30.0,27.0,0.0
2,AA,Emergency Medicine,2012,32.0,14.0,0.0
3,AE,Anesthesiology,2012,21.0,0.0,19.0
4,AE,CRNA,2012,24.5,24.5,0.0
...,...,...,...,...,...,...
4479,ZZ,Preventive Medicine,2017,36.0,36.0,0.0
4480,ZZ,Psychiatry,2017,37.0,0.0,37.0
4481,ZZ,"Psychologist, Clinical",2017,137.0,0.0,136.5
4482,ZZ,Pulmonary Disease,2017,22.0,19.0,0.0
4483,ZZ,Rheumatology,2017,12.0,0.0,12.0

In [36]:
data_df_total = data_df_total.reset_index(drop = True)
data_df_total

,state,provider_type,year,line_srcv_median,facility_median,outside_median
0,AA,Anesthesiology,2012,14.0,14.0,0.0
1,AA,Diagnostic Radiology,2012,30.0,27.0,0.0
2,AA,Emergency Medicine,2012,32.0,14.0,0.0
3,AE,Anesthesiology,2012,21.0,0.0,19.0
4,AE,CRNA,2012,24.5,24.5,0.0
...,...,...,...,...,...,...
26054,ZZ,Preventive Medicine,2017,36.0,36.0,0.0
26055,ZZ,Psychiatry,2017,37.0,0.0,37.0
26056,ZZ,"Psychologist, Clinical",2017,137.0,0.0,136.5
26057,ZZ,Pulmonary Disease,2017,22.0,19.0,0.0
26058,ZZ,Rheumatology,2017,12.0,0.0,12.0

In [37]:
#Sort output_data by year largest to smallest to match other file.
data_df_total = data_df_total.sort_values(["year", "state", "provider_type"],  ascending=[False, True, True])

In [38]:
updated_data_df = pd.read_csv(os.path.join("..", "Data", data_updated))
# Drop the null rows that are completely null.
updated_data_df = updated_data_df.dropna(axis='rows', how='all')

updated_data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73850 entries, 0 to 73849
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LASTNAME    70693 non-null  object
 1   FIRSTNAME   70694 non-null  object
 2   MIDNAME     73850 non-null  object
 3   BUSNAME     3154 non-null   object
 4   GENERAL     73850 non-null  object
 5   SPECIALTY   69677 non-null  object
 6   UPIN        6259 non-null   object
 7   NPI         73850 non-null  int64
 8   DOB         69832 non-null  float64
 9   ADDRESS     73841 non-null  object
 10  CITY        73849 non-null  object
 11  STATE       73845 non-null  object
 12  ZIP         73850 non-null  int64
 13  EXCLTYPE    73850 non-null  object
 14  EXCLDATE    73850 non-null  int64
 15  REINDATE    73850 non-null  int64
 16  WAIVERDATE  73850 non-null  int64
 17  WVRSTATE    14 non-null     object
dtypes: float64(1), int64(5), object(12)
memory usage: 10.7+ MB

In [39]:
updated_df = updated_data_df.groupby(['STATE']).agg({'EXCLTYPE': ['count']})
updated_df

      EXCLTYPE
         count
STATE
AE           1
AK         254
AL        1692
AR        1104
AZ        2439
CA        9021
CN           1
CO        1526
CT         683
DC          91
DE         163
FL        7535
FM           3
GA        1156
GU           5
HA           1
HI         164
IA        1065
ID         329
IL        2167
IN        1108
KS         606
KY        1569
LA        1708
MA        1661
MD         788
ME         574
MI        1366
MN        1105
MO         973
MP           2
MS        1743
MT         211
NC        1662
ND         166
NE         273
NH         414
NJ        1237
NM         244
NV         537
NY        4241
OH        3138
OK        1546
OR         861
PA        2906
PR         177
RI         525
SC         609
SD         201
TN        1688
TX        5123
UT         696
VA        1399
VI           3
VT         550
WA        1265
WI         702
WV         656
WY         150
XX          62

In [40]:
updated_df = updated_df.reset_index()
updated_df.columns = ['state', 'leie_count']
#updated_df['zip_code'] = updated_df['zip_code'].apply(str)
updated_df

   state  leie_count
0     AE           1
1     AK         254
2     AL        1692
3     AR        1104
4     AZ        2439
5     CA        9021
6     CN           1
7     CO        1526
8     CT         683
9     DC          91
10    DE         163
11    FL        7535
12    FM           3
13    GA        1156
14    GU           5
15    HA           1
16    HI         164
17    IA        1065
18    ID         329
19    IL        2167
20    IN        1108
21    KS         606
22    KY        1569
23    LA        1708
24    MA        1661
25    MD         788
26    ME         574
27    MI        1366
28    MN        1105
29    MO         973
30    MP           2
31    MS        1743
32    MT         211
33    NC        1662
34    ND         166
35    NE         273
36    NH         414
37    NJ        1237
38    NM         244
39    NV         537
40    NY        4241
41    OH        3138
42    OK        1546
43    OR         861
44    PA        2906
45    PR         177
46    RI         525
47    SC         609
48    SD         201
49    TN        1688
50    TX        5123
51    UT         696
52    VA        1399
53    VI           3
54    VT         550
55    WA        1265
56    WI         702
57    WV         656
58    WY         150
59    XX          62

In [41]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state       60 non-null     object
 1   leie_count  60 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

In [42]:
data_df_total_new = pd.merge(data_df_total, updated_df, how='left', on=['state'])
data_df_total_new

,state,provider_type,year,line_srcv_median,facility_median,outside_median,leie_count
0,AA,Anesthesiology,2017,27.0,27.0,0.0,NaN
1,AA,Diagnostic Radiology,2017,34.0,34.0,0.0,NaN
2,AA,Emergency Medicine,2017,25.5,23.5,0.0,NaN
3,AA,Family Practice,2017,21.0,0.0,17.0,NaN
4,AA,General Surgery,2017,11.0,0.0,11.0,NaN
...,...,...,...,...,...,...,...
26054,ZZ,Otolaryngology,2012,30.5,0.0,12.5,NaN
26055,ZZ,Pathology,2012,31.0,22.0,0.0,NaN
26056,ZZ,Physician Assistant,2012,59.0,0.0,59.0,NaN
26057,ZZ,Psychiatry,2012,96.5,34.0,0.0,NaN
26058,ZZ,Urology,2012,21.0,0.0,21.0,NaN

In [43]:
data_df_total_new = data_df_total_new.fillna(0)
data_df_total_new

,state,provider_type,year,line_srcv_median,facility_median,outside_median,leie_count
0,AA,Anesthesiology,2017,27.0,27.0,0.0,0.0
1,AA,Diagnostic Radiology,2017,34.0,34.0,0.0,0.0
2,AA,Emergency Medicine,2017,25.5,23.5,0.0,0.0
3,AA,Family Practice,2017,21.0,0.0,17.0,0.0
4,AA,General Surgery,2017,11.0,0.0,11.0,0.0
...,...,...,...,...,...,...,...
26054,ZZ,Otolaryngology,2012,30.5,0.0,12.5,0.0
26055,ZZ,Pathology,2012,31.0,22.0,0.0,0.0
26056,ZZ,Physician Assistant,2012,59.0,0.0,59.0,0.0
26057,ZZ,Psychiatry,2012,96.5,34.0,0.0,0.0
26058,ZZ,Urology,2012,21.0,0.0,21.0,0.0

In [44]:
output_data_file = "output_data_state_provider_year.csv"
data_df_total_new.to_csv(os.path.join("..", "Data", output_data_file), index= False, sep=',')