In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_file2012 = "Medicare_Provider_Util_Payment_PUF_CY2012.txt"
data_file2013 = "Medicare_Provider_Util_Payment_PUF_CY2013.txt"
data_file2014 = "Medicare_Provider_Util_Payment_PUF_CY2014.txt"
data_file2015 = "Medicare_Provider_Util_Payment_PUF_CY2015.txt"
data_file2016 = "Medicare_Provider_Util_Payment_PUF_CY2016.txt"
data_file2017 = "Medicare_Provider_Util_Payment_PUF_CY2017.txt"
data_updated = "UPDATED.csv"


provider_1 = 1104909043
provider_2 = 1568476968

In [3]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2012),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2012),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
#data_df.head()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9153273 entries, 0 to 9153272
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 1.9+ GB

In [4]:
data_df.drop(data_df[data_df['NPI'] == 1].index, inplace = True)
data_df.drop(data_df[data_df['NPPES_PROVIDER_COUNTRY'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9152973 entries, 1 to 9153272
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 2.0+ GB

In [5]:
data_df['NPPES_PROVIDER_ZIP'] = data_df['NPPES_PROVIDER_ZIP'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['NPPES_PROVIDER_ZIP'].str[:5]
df_data_2012 = data_df.groupby(['new_zip', 'PROVIDER_TYPE']).agg({'AVERAGE_SUBMITTED_CHRG_AMT': ['mean'], 'AVERAGE_MEDICARE_PAYMENT_AMT': ['mean']})
df_data_2012.columns = ['avg_submit_2012', 'avg_payment_2012']
df_data_2012 = df_data_2012.reset_index()

#df_data_2012

In [6]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2013),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2013),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9287877 entries, 0 to 9287876
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 1.9+ GB

In [7]:
data_df.drop(data_df[data_df['NPI'] == 1].index, inplace = True)
data_df.drop(data_df[data_df['NPPES_PROVIDER_COUNTRY'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9287471 entries, 1 to 9287876
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 2.0+ GB

In [8]:
data_df['NPPES_PROVIDER_ZIP'] = data_df['NPPES_PROVIDER_ZIP'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['NPPES_PROVIDER_ZIP'].str[:5]
df_data_2013 = data_df.groupby(['new_zip', 'PROVIDER_TYPE']).agg({'AVERAGE_SUBMITTED_CHRG_AMT': ['mean'], 'AVERAGE_MEDICARE_PAYMENT_AMT': ['mean']})
df_data_2013.columns = ['avg_submit_2013', 'avg_payment_2013']
df_data_2013 = df_data_2013.reset_index()

df_data_2013

,new_zip,PROVIDER_TYPE,avg_submit_2013,avg_payment_2013
0,0,CRNA,857.916667,107.118333
1,0,Osteopathic Manipulative Medicine,329.329943,78.482105
2,00602,Clinical Laboratory,3.000000,2.950345
3,00602,General Practice,58.970000,45.528889
4,00602,Internal Medicine,77.691225,54.396983
...,...,...,...,...
244613,99926,Family Practice,210.547900,64.696858
244614,99926,Physical Therapist,104.000000,52.821924
244615,99926,Physician Assistant,74.375000,13.698331
244616,99929,Chiropractic,50.000000,30.906103
244617,99929,Family Practice,172.352434,55.047140

In [9]:
df_merge_total = pd.merge(df_data_2012, df_data_2013, how='outer', on=['new_zip','PROVIDER_TYPE'])
df_merge_total = df_merge_total.rename(columns = {'PROVIDER_TYPE':'provider_type'})
df_merge_total

,new_zip,provider_type,avg_submit_2012,avg_payment_2012,avg_submit_2013,avg_payment_2013
0,0,Osteopathic Manipulative Medicine,306.907909,78.431334,329.329943,78.482105
1,00601,Internal Medicine,82.947883,37.357664,NaN,NaN
2,00602,Clinical Laboratory,3.000000,3.000000,3.000000,2.950345
3,00602,General Practice,51.560000,38.754583,58.970000,45.528889
4,00602,Obstetrics/Gynecology,45.615000,35.476739,46.489714,33.406373
...,...,...,...,...,...,...
257423,99835,Physical Medicine and Rehabilitation,NaN,NaN,78.000000,27.620000
257424,99901,Interventional Pain Management,NaN,NaN,130.872902,74.611186
257425,99921,Ambulance Service Supplier,NaN,NaN,269.289474,149.272245
257426,99922,Physician Assistant,NaN,NaN,85.818182,22.795277
257427,99926,Family Practice,NaN,NaN,210.547900,64.696858

In [10]:
df_merge_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 257428 entries, 0 to 257427
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   new_zip           257428 non-null  object
 1   provider_type     257428 non-null  object
 2   avg_submit_2012   237872 non-null  float64
 3   avg_payment_2012  237872 non-null  float64
 4   avg_submit_2013   244618 non-null  float64
 5   avg_payment_2013  244618 non-null  float64
dtypes: float64(4), object(2)
memory usage: 13.7+ MB

In [11]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2014),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2014),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9316308 entries, 0 to 9316307
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.8+ GB

In [12]:
data_df.drop(data_df[data_df['npi'] == 1].index, inplace = True)
data_df.drop(data_df[data_df['nppes_provider_country'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9315906 entries, 1 to 9316307
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [13]:
data_df['nppes_provider_zip'] = data_df['nppes_provider_zip'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['nppes_provider_zip'].str[:5]
df_data_2014 = data_df.groupby(['new_zip', 'provider_type']).agg({'average_submitted_chrg_amt': ['mean'], 'average_Medicare_payment_amt': ['mean']})
df_data_2014.columns = ['avg_submit_2014', 'avg_payment_2014']
df_data_2014 = df_data_2014.reset_index()

df_data_2014

,new_zip,provider_type,avg_submit_2014,avg_payment_2014
0,0,CRNA,686.607143,97.050000
1,0,Osteopathic Manipulative Medicine,384.975876,81.872370
2,00601,Internal Medicine,62.961538,38.572308
3,00602,Family Practice,75.539706,54.089471
4,00602,General Practice,60.299545,40.307500
...,...,...,...,...
248702,99925,Family Practice,183.691719,54.028591
248703,99925,Physician Assistant,209.410227,55.741164
248704,99926,Family Practice,203.439363,59.181186
248705,99929,Chiropractic,50.000000,35.289317
248706,99929,Family Practice,172.184174,57.356499

In [14]:
df_merge_total = pd.merge(df_merge_total, df_data_2014, how='outer', on=['new_zip','provider_type'])
df_merge_total

,new_zip,provider_type,avg_submit_2012,avg_payment_2012,avg_submit_2013,avg_payment_2013,avg_submit_2014,avg_payment_2014
0,0,Osteopathic Manipulative Medicine,306.907909,78.431334,329.329943,78.482105,384.975876,81.872370
1,00601,Internal Medicine,82.947883,37.357664,NaN,NaN,62.961538,38.572308
2,00602,Clinical Laboratory,3.000000,3.000000,3.000000,2.950345,NaN,NaN
3,00602,General Practice,51.560000,38.754583,58.970000,45.528889,60.299545,40.307500
4,00602,Obstetrics/Gynecology,45.615000,35.476739,46.489714,33.406373,NaN,NaN
...,...,...,...,...,...,...,...,...
275366,99777,Nurse Practitioner,NaN,NaN,NaN,NaN,662.500000,69.703500
275367,99801,Centralized Flu,NaN,NaN,NaN,NaN,17.312748,16.957477
275368,99801,Obstetrics/Gynecology,NaN,NaN,NaN,NaN,2636.363636,264.031818
275369,99827,Physical Therapist,NaN,NaN,NaN,NaN,111.458137,39.424335
275370,99901,Centralized Flu,NaN,NaN,NaN,NaN,23.539011,23.068562

In [15]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2015),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2015),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9497892 entries, 0 to 9497891
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.8+ GB

In [16]:
data_df.drop(data_df[data_df['npi'] == 1].index, inplace = True)
data_df.drop(data_df[data_df['nppes_provider_country'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9497376 entries, 1 to 9497891
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [17]:
data_df['nppes_provider_zip'] = data_df['nppes_provider_zip'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['nppes_provider_zip'].str[:5]
df_data_2015 = data_df.groupby(['new_zip', 'provider_type']).agg({'average_submitted_chrg_amt': ['mean'], 'average_Medicare_payment_amt': ['mean']})
df_data_2015.columns = ['avg_submit_2015', 'avg_payment_2015']
df_data_2015 = df_data_2015.reset_index()

df_data_2015

,new_zip,provider_type,avg_submit_2015,avg_payment_2015
0,0,Osteopathic Manipulative Medicine,393.345829,81.603271
1,00602,Clinical Laboratory,5.967600,5.832667
2,00602,General Practice,60.220000,37.291176
3,00602,Internal Medicine,85.600000,54.972857
4,00602,Obstetrics/Gynecology,60.824167,46.613333
...,...,...,...,...
251890,99926,Family Practice,173.943134,55.542276
251891,99926,Physical Therapist,68.000000,32.275987
251892,99926,Physician Assistant,84.571429,23.985294
251893,99929,Chiropractic,50.000000,35.665443
251894,99929,Family Practice,116.851190,43.124794

In [18]:
df_merge_total = pd.merge(df_merge_total, df_data_2015, how='outer', on=['new_zip','provider_type'])
df_merge_total

,new_zip,provider_type,avg_submit_2012,avg_payment_2012,avg_submit_2013,avg_payment_2013,avg_submit_2014,avg_payment_2014,avg_submit_2015,avg_payment_2015
0,0,Osteopathic Manipulative Medicine,306.907909,78.431334,329.329943,78.482105,384.975876,81.872370,393.345829,81.603271
1,00601,Internal Medicine,82.947883,37.357664,NaN,NaN,62.961538,38.572308,NaN,NaN
2,00602,Clinical Laboratory,3.000000,3.000000,3.000000,2.950345,NaN,NaN,5.967600,5.832667
3,00602,General Practice,51.560000,38.754583,58.970000,45.528889,60.299545,40.307500,60.220000,37.291176
4,00602,Obstetrics/Gynecology,45.615000,35.476739,46.489714,33.406373,NaN,NaN,60.824167,46.613333
...,...,...,...,...,...,...,...,...,...,...
291477,99734,Physician Assistant,NaN,NaN,NaN,NaN,NaN,NaN,997.461905,75.831429
291478,99801,Hematology/Oncology,NaN,NaN,NaN,NaN,NaN,NaN,318.938175,115.352657
291479,99827,Chiropractic,NaN,NaN,NaN,NaN,NaN,NaN,75.385000,31.467673
291480,99835,Audiologist (billing independently),NaN,NaN,NaN,NaN,NaN,NaN,114.000000,18.002093
291481,99901,Physician Assistant,NaN,NaN,NaN,NaN,NaN,NaN,227.230702,63.607740

In [19]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2016),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2016),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9714897 entries, 0 to 9714896
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  AVERAGE_SUBMITTED_CHRG_AMT        float64
 24  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 25  AVERAGE_MEDICARE_STANDARD_AMT     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [20]:
data_df.drop(data_df[data_df['NPI'] == 1].index, inplace = True)
data_df.drop(data_df[data_df['NPPES_PROVIDER_COUNTRY'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9714369 entries, 1 to 9714896
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  AVERAGE_SUBMITTED_CHRG_AMT        float64
 24  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 25  AVERAGE_MEDICARE_STANDARD_AMT     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 2.0+ GB

In [21]:
data_df['NPPES_PROVIDER_ZIP'] = data_df['NPPES_PROVIDER_ZIP'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['NPPES_PROVIDER_ZIP'].str[:5]
df_data_2016 = data_df.groupby(['new_zip', 'PROVIDER_TYPE']).agg({'AVERAGE_SUBMITTED_CHRG_AMT': ['mean'], 'AVERAGE_MEDICARE_PAYMENT_AMT': ['mean']})
df_data_2016.columns = ['avg_submit_2016', 'avg_payment_2016']
df_data_2016 = df_data_2016.reset_index()
df_data_2016 = df_data_2016.rename(columns = {'PROVIDER_TYPE':'provider_type'})

df_data_2016

,new_zip,provider_type,avg_submit_2016,avg_payment_2016
0,0,Emergency Medicine,413.185277,81.017702
1,00602,Clinical Laboratory,10.811644,9.375364
2,00602,Physical Medicine and Rehabilitation,102.915978,74.504376
3,00603,Ambulance Service Provider,147.704086,114.759839
4,00603,Emergency Medicine,226.625621,49.476865
...,...,...,...,...
253698,99926,Physical Therapist in Private Practice,71.333333,22.245475
253699,99926,Physician Assistant,129.834144,23.189459
253700,99928,Nurse Practitioner,150.500000,49.817279
253701,99929,Chiropractic,50.000000,34.345187
253702,99929,Family Practice,217.813639,49.480158

In [22]:
df_merge_total = pd.merge(df_merge_total, df_data_2016, how='outer', on=['new_zip','provider_type'])
df_merge_total

,new_zip,provider_type,avg_submit_2012,avg_payment_2012,avg_submit_2013,avg_payment_2013,avg_submit_2014,avg_payment_2014,avg_submit_2015,avg_payment_2015,avg_submit_2016,avg_payment_2016
0,0,Osteopathic Manipulative Medicine,306.907909,78.431334,329.329943,78.482105,384.975876,81.872370,393.345829,81.603271,NaN,NaN
1,00601,Internal Medicine,82.947883,37.357664,NaN,NaN,62.961538,38.572308,NaN,NaN,NaN,NaN
2,00602,Clinical Laboratory,3.000000,3.000000,3.000000,2.950345,NaN,NaN,5.967600,5.832667,10.811644,9.375364
3,00602,General Practice,51.560000,38.754583,58.970000,45.528889,60.299545,40.307500,60.220000,37.291176,NaN,NaN
4,00602,Obstetrics/Gynecology,45.615000,35.476739,46.489714,33.406373,NaN,NaN,60.824167,46.613333,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
366815,99901,Urology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,348.325397,54.787602
366816,99921,Ambulance Service Provider,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,272.250000,156.024033
366817,99925,Ambulance Service Provider,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,540.203458,160.429227
366818,99926,Physical Therapist in Private Practice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.333333,22.245475
366819,99928,Nurse Practitioner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150.500000,49.817279

In [23]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2017),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2017),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9847444 entries, 0 to 9847443
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [24]:
data_df.drop(data_df[data_df['npi'] == 1].index, inplace = True)
data_df.drop(data_df[data_df['nppes_provider_country'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9846847 entries, 1 to 9847443
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 2.0+ GB

In [25]:
data_df['nppes_provider_zip'] = data_df['nppes_provider_zip'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['nppes_provider_zip'].str[:5]
df_data_2017 = data_df.groupby(['new_zip', 'provider_type']).agg({'average_submitted_chrg_amt': ['mean'], 'average_Medicare_payment_amt': ['mean']})
df_data_2017.columns = ['avg_submit_2017', 'avg_payment_2017']
df_data_2017 = df_data_2017.reset_index()

df_data_2017

,new_zip,provider_type,avg_submit_2017,avg_payment_2017
0,0,Certified Registered Nurse Anesthetist (CRNA),1140.000000,101.048750
1,0,Emergency Medicine,469.833333,92.422812
2,00602,Clinical Laboratory,10.284000,8.863072
3,00602,Physical Medicine and Rehabilitation,86.656667,64.122595
4,00603,Ambulance Service Provider,147.140000,114.954220
...,...,...,...,...
257076,99926,Physician Assistant,182.217000,29.650094
257077,99928,Nurse Practitioner,99.941429,20.193221
257078,99929,Ambulance Service Provider,301.833333,188.221863
257079,99929,Chiropractic,50.000000,33.869504
257080,99929,Family Practice,152.907933,40.281043

In [26]:
df_merge_total = pd.merge(df_merge_total, df_data_2017, how='outer', on=['new_zip','provider_type'])
df_merge_total

,new_zip,provider_type,avg_submit_2012,avg_payment_2012,avg_submit_2013,avg_payment_2013,avg_submit_2014,avg_payment_2014,avg_submit_2015,avg_payment_2015,avg_submit_2016,avg_payment_2016,avg_submit_2017,avg_payment_2017
0,0,Osteopathic Manipulative Medicine,306.907909,78.431334,329.329943,78.482105,384.975876,81.872370,393.345829,81.603271,NaN,NaN,NaN,NaN
1,00601,Internal Medicine,82.947883,37.357664,NaN,NaN,62.961538,38.572308,NaN,NaN,NaN,NaN,NaN,NaN
2,00602,Clinical Laboratory,3.000000,3.000000,3.000000,2.950345,NaN,NaN,5.967600,5.832667,10.811644,9.375364,10.284000,8.863072
3,00602,General Practice,51.560000,38.754583,58.970000,45.528889,60.299545,40.307500,60.220000,37.291176,NaN,NaN,NaN,NaN
4,00602,Obstetrics/Gynecology,45.615000,35.476739,46.489714,33.406373,NaN,NaN,60.824167,46.613333,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383658,99840,Physician Assistant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.000000,11.086388
383659,99901,Certified Nurse Midwife,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,311.500000,79.515417
383660,99901,Certified Registered Nurse Anesthetist (CRNA),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,452.631777,113.145742
383661,99901,Hospitalist,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,473.084431,120.531112
383662,99929,Ambulance Service Provider,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301.833333,188.221863

In [27]:
df_merge_total = df_merge_total.fillna(0)
df_merge_total

,new_zip,provider_type,avg_submit_2012,avg_payment_2012,avg_submit_2013,avg_payment_2013,avg_submit_2014,avg_payment_2014,avg_submit_2015,avg_payment_2015,avg_submit_2016,avg_payment_2016,avg_submit_2017,avg_payment_2017
0,0,Osteopathic Manipulative Medicine,306.907909,78.431334,329.329943,78.482105,384.975876,81.872370,393.345829,81.603271,0.000000,0.000000,0.000000,0.000000
1,00601,Internal Medicine,82.947883,37.357664,0.000000,0.000000,62.961538,38.572308,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,00602,Clinical Laboratory,3.000000,3.000000,3.000000,2.950345,0.000000,0.000000,5.967600,5.832667,10.811644,9.375364,10.284000,8.863072
3,00602,General Practice,51.560000,38.754583,58.970000,45.528889,60.299545,40.307500,60.220000,37.291176,0.000000,0.000000,0.000000,0.000000
4,00602,Obstetrics/Gynecology,45.615000,35.476739,46.489714,33.406373,0.000000,0.000000,60.824167,46.613333,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383658,99840,Physician Assistant,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,119.000000,11.086388
383659,99901,Certified Nurse Midwife,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,311.500000,79.515417
383660,99901,Certified Registered Nurse Anesthetist (CRNA),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,452.631777,113.145742
383661,99901,Hospitalist,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,473.084431,120.531112
383662,99929,Ambulance Service Provider,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,301.833333,188.221863

In [28]:
output_data_file = "output_data_zip_provider.txt"
df_merge_total.to_csv(os.path.join("..", "Data", output_data_file), index= False, sep='\t')