In [1]:
import os
import pandas as pd
import numpy as np

# Read the CSV and Perform Basic Data Cleaning

In [11]:
hcpsc_key_file = "top_ten_list.csv"
top10_df = pd.read_csv(os.path.join("..", "Data", hcpsc_key_file),sep=',')
top10_df

  Occurance_top_10 Line_Service_top_10
0            99213               P9603
1            99214               A0425
2            99204               99213
3            99203               99214
4            99212               J1071
5            93000               J0585
6            36415               36415
7            99215               95004
8            96372               Q0138
9            G0008               G0471

In [3]:
input_data_file = "sort_data.txt"
df = pd.read_csv(os.path.join("..", "Data", input_data_file),sep='\t')
#df = pd.read_csv(os.path.join("..", "Data", input_data_file),sep='\t', nrows=50000)

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
#df = df.dropna()
df

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,npi,nppes_provider_gender,nppes_entity_code,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,...,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,year,leie_code,leie
0,1205963402,M,I,ROCKVILLE,2.08521e+08,MD,US,Allergy/Immunology,Y,O,...,N,153.0,13.0,153.0,11.800000,25.000000,7.897516,2012,1128b4,On_List
1,1467447557,M,I,FLINT,4.85325e+08,MI,US,Family Practice,Y,O,...,N,93.0,65.0,93.0,129.454731,209.408602,97.705054,2017,1128a1,On_List
2,1952417610,M,I,HOUSTON,7.70813e+08,TX,US,Neurology,Y,O,...,N,36.0,35.0,36.0,40.992778,50.123611,25.856944,2014,1128a1,On_List
3,1467447557,M,I,FLINT,4.85325e+08,MI,US,Family Practice,Y,O,...,N,724.0,210.0,724.0,48.580000,150.000000,47.610000,2017,1128a1,On_List
4,1467447557,M,I,FLINT,4.85325e+08,MI,US,Family Practice,Y,O,...,N,11.0,11.0,11.0,25.000000,25.000000,6.985455,2017,1128a1,On_List
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56819222,1053396929,M,I,HACKENSACK,76011914,NJ,US,Diagnostic Radiology,Y,F,...,N,11.0,11.0,11.0,40.180000,75.000000,31.500000,2014,None,Not
56819223,1053396929,M,I,HACKENSACK,76011914,NJ,US,Diagnostic Radiology,Y,F,...,N,15.0,13.0,15.0,53.290000,160.000000,41.780000,2014,None,Not
56819224,1053396929,M,I,HACKENSACK,76011914,NJ,US,Diagnostic Radiology,Y,F,...,N,33.0,32.0,33.0,46.360000,151.000000,36.350000,2014,None,Not
56819225,1053396929,M,I,HACKENSACK,76011914,NJ,US,Diagnostic Radiology,Y,O,...,N,46.0,44.0,46.0,299.020000,525.000000,230.607391,2014,None,Not
56819226,1992999874,F,I,MECHANICSVILLE,231161844,VA,US,Internal Medicine,Y,F,...,N,49.0,49.0,49.0,107.980000,262.000000,123.950000,2017,None,Not

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56819227 entries, 0 to 56819226
Data columns (total 22 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_gender             object
 2   nppes_entity_code                 object
 3   nppes_provider_city               object
 4   nppes_provider_zip                object
 5   nppes_provider_state              object
 6   nppes_provider_country            object
 7   provider_type                     object
 8   medicare_participation_indicator  object
 9   place_of_service                  object
 10  hcpcs_code                        object
 11  hcpcs_description                 object
 12  hcpcs_drug_indicator              object
 13  line_srvc_cnt                     float64
 14  bene_unique_cnt                   float64
 15  bene_day_srvc_cnt                 float64
 16  average_Medicare_allowed_amt      float64
 17  average_submitted_chrg_amt        float64
 18  average_Medicare_payment_amt      float64
 19  year                              int64
 20  leie_code                         object
 21  leie                              object
dtypes: float64(6), int64(2), object(14)
memory usage: 9.3+ GB

In [5]:
#new_df = df.loc[(df["leie"] == "On_List"), :]
#df = df.sort_values("leie", ascending=False)

In [12]:
top10_df.rename(columns={"Line_Service_top_10": "hcpcs_code"}, inplace = True)
del top10_df['Occurance_top_10']
top10_df

  hcpcs_code
0      P9603
1      A0425
2      99213
3      99214
4      J1071
5      J0585
6      36415
7      95004
8      Q0138
9      G0471

In [13]:
new_df = pd.merge(df, top10_df, how='inner', on='hcpcs_code')

In [14]:
new_df

,npi,nppes_provider_gender,nppes_entity_code,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,...,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,year,leie_code,leie
0,1437152196,F,I,MIAMI,3.31665e+08,FL,US,Podiatry,Y,O,...,N,91.0,54.0,91.0,75.910000,76.680000,60.730000,2012,1128a1,On_List
1,1790785277,M,I,OCEAN SPRINGS,3.95646e+08,MS,US,Gastroenterology,Y,O,...,N,511.0,326.0,511.0,64.546360,80.000000,46.697789,2012,1128a4,On_List
2,1952417610,M,I,HOUSTON,7.70813e+08,TX,US,Neurology,Y,O,...,N,309.0,282.0,309.0,72.852136,114.499191,55.423883,2014,1128a1,On_List
3,1376537977,M,I,DYERSBURG,3.80242e+08,TN,US,Family Practice,Y,O,...,N,63.0,41.0,63.0,65.750000,87.000000,29.795238,2012,1128b4,On_List
4,1043319866,M,I,SALINAS,9.39014e+08,CA,US,Cardiology,Y,O,...,N,286.0,232.0,286.0,75.870455,77.492832,52.149476,2014,1128a2,On_List
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625893,1063564714,NaN,O,SANDWICH,2563,MA,US,Clinical Laboratory,Y,O,...,N,19661.4,302.0,713.0,1.010007,1.062944,0.989832,2014,None,Not
5625894,1053314146,NaN,O,NOVI,483751849,MI,US,Clinical Laboratory,Y,F,...,N,1179.0,188.0,1179.0,1.015844,6.371391,0.995827,2014,None,Not
5625895,1053314401,M,I,BEAUMONT,777014683,TX,US,Internal Medicine,Y,O,...,N,72053.0,191.0,1727.0,0.073811,0.075894,0.072338,2014,None,Not
5625896,1053343442,NaN,O,MILWAUKEE,532154526,WI,US,Clinical Laboratory,Y,O,...,N,23144.0,678.0,3014.0,0.949945,0.950060,0.930979,2014,None,Not
5625897,1043565021,NaN,O,MOUNT LAUREL,80544638,NJ,US,Clinical Laboratory,Y,O,...,N,4268.6,133.0,224.0,1.007101,1.027508,0.986954,2014,None,Not

In [15]:
output_data_file = "top_ten_line_cnt.txt"
new_df.to_csv(os.path.join("..", "Data", output_data_file), index= False, sep='\t')

In [16]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5625898 entries, 0 to 5625897
Data columns (total 22 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_gender             object
 2   nppes_entity_code                 object
 3   nppes_provider_city               object
 4   nppes_provider_zip                object
 5   nppes_provider_state              object
 6   nppes_provider_country            object
 7   provider_type                     object
 8   medicare_participation_indicator  object
 9   place_of_service                  object
 10  hcpcs_code                        object
 11  hcpcs_description                 object
 12  hcpcs_drug_indicator              object
 13  line_srvc_cnt                     float64
 14  bene_unique_cnt                   float64
 15  bene_day_srvc_cnt                 float64
 16  average_Medicare_allowed_amt      float64
 17  average_submitted_chrg_amt        float64
 18  average_Medicare_payment_amt      float64
 19  year                              int64
 20  leie_code                         object
 21  leie                              object
dtypes: float64(6), int64(2), object(14)
memory usage: 987.2+ MB