In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_file2012 = "Medicare_Provider_Util_Payment_PUF_CY2012.txt"
data_file2013 = "Medicare_Provider_Util_Payment_PUF_CY2013.txt"
data_file2014 = "Medicare_Provider_Util_Payment_PUF_CY2014.txt"
data_file2015 = "Medicare_Provider_Util_Payment_PUF_CY2015.txt"
data_file2016 = "Medicare_Provider_Util_Payment_PUF_CY2016.txt"
data_file2017 = "Medicare_Provider_Util_Payment_PUF_CY2017.txt"
data_updated = "UPDATED.csv"


provider_1 = 1104909043
provider_2 = 1568476968

In [3]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2012),sep='\t', nrows=500)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2012),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
#data_df.head()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9153273 entries, 0 to 9153272
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 1.9+ GB

In [4]:
data_df.drop(data_df[data_df['NPI'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['NPPES_PROVIDER_COUNTRY'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9153272 entries, 1 to 9153272
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 2.0+ GB

In [5]:
data_df

,NPI,NPPES_PROVIDER_LAST_ORG_NAME,NPPES_PROVIDER_FIRST_NAME,NPPES_PROVIDER_MI,NPPES_CREDENTIALS,NPPES_PROVIDER_GENDER,NPPES_ENTITY_CODE,NPPES_PROVIDER_STREET1,NPPES_PROVIDER_STREET2,NPPES_PROVIDER_CITY,...,HCPCS_DRUG_INDICATOR,LINE_SRVC_CNT,BENE_UNIQUE_CNT,BENE_DAY_SRVC_CNT,AVERAGE_MEDICARE_ALLOWED_AMT,STDEV_MEDICARE_ALLOWED_AMT,AVERAGE_SUBMITTED_CHRG_AMT,STDEV_SUBMITTED_CHRG_AMT,AVERAGE_MEDICARE_PAYMENT_AMT,STDEV_MEDICARE_PAYMENT_AMT
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,N,115.0,112.0,115.0,135.25,0.0,199.000000,0.000000,108.115652,0.900588
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,N,93.0,88.0,93.0,198.59,0.0,291.000000,9.591663,158.870000,0.000000
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,N,111.0,83.0,111.0,38.75,0.0,58.000000,0.000000,30.720721,2.929106
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,N,544.0,295.0,544.0,70.95,0.0,105.000000,0.000000,56.655662,2.431327
5,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,N,75.0,55.0,75.0,101.74,0.0,150.000000,0.000000,81.390000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9153268,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,N,69.0,69.0,69.0,130.23,0.0,319.884058,24.033513,104.180000,0.000000
9153269,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,N,99.0,98.0,99.0,191.48,0.0,481.292929,37.827159,153.180000,0.000000
9153270,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,N,462.0,202.0,462.0,68.59,0.0,174.073593,5.429497,54.779156,1.950507
9153271,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,N,189.0,105.0,189.0,98.33,0.0,251.444444,7.228203,78.341587,4.365855
9153272,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,N,164.0,157.0,164.0,101.33,0.0,257.487805,12.107490,80.680488,4.845287

In [6]:
data_df['NPPES_PROVIDER_ZIP'] = data_df['NPPES_PROVIDER_ZIP'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['NPPES_PROVIDER_ZIP'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['PLACE_OF_SERVICE']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['PLACE_OF_SERVICE']]
data_df['facility'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "F", 0)
data_df['outside'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "O", 0)
data_df['year'] = 2012

df_data_2012 = data_df.groupby(['NPPES_PROVIDER_STATE', 'new_zip', 'PROVIDER_TYPE', 'year']).agg({'LINE_SRVC_CNT': ['median'],
                                                                                                      'facility' : ['median'],
                                                                                                      'outside' : ['median']})
       
df_data_2012

                                                       LINE_SRVC_CNT facility  \
                                                              median   median
NPPES_PROVIDER_STATE new_zip PROVIDER_TYPE        year
AA                   20307   Anesthesiology       2012          14.0     14.0
                     28310   Emergency Medicine   2012          14.0     14.0
                     32925   Emergency Medicine   2012          45.0     14.0
                     73503   Diagnostic Radiology 2012          30.0     27.0
AE                   09550   Emergency Medicine   2012          31.5     31.5
...                                                              ...      ...
ZZ                   EH16    Orthopedic Surgery   2012          21.0     20.0
                     LA2 8   Emergency Medicine   2012          38.0     38.0
                     M4K 2   Family Practice      2012          65.5      0.0
                     N8N4N   Nurse Practitioner   2012          25.0      0.0
                     N8X 1   Physician Assistant  2012         149.0      0.0

                                                       outside
                                                        median
NPPES_PROVIDER_STATE new_zip PROVIDER_TYPE        year
AA                   20307   Anesthesiology       2012     0.0
                     28310   Emergency Medicine   2012     0.0
                     32925   Emergency Medicine   2012     0.0
                     73503   Diagnostic Radiology 2012     0.0
AE                   09550   Emergency Medicine   2012     0.0
...                                                        ...
ZZ                   EH16    Orthopedic Surgery   2012     0.0
                     LA2 8   Emergency Medicine   2012     0.0
                     M4K 2   Family Practice      2012    65.5
                     N8N4N   Nurse Practitioner   2012    25.0
                     N8X 1   Physician Assistant  2012   149.0

[240902 rows x 3 columns]

In [7]:
df_data_2012 = df_data_2012.reset_index()
df_data_2012.columns = ['state', 'zip_code', 'provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2012

,state,zip_code,provider_type,year,line_srcv_median,facility_median,outside_median
0,AA,20307,Anesthesiology,2012,14.0,14.0,0.0
1,AA,28310,Emergency Medicine,2012,14.0,14.0,0.0
2,AA,32925,Emergency Medicine,2012,45.0,14.0,0.0
3,AA,73503,Diagnostic Radiology,2012,30.0,27.0,0.0
4,AE,09550,Emergency Medicine,2012,31.5,31.5,0.0
...,...,...,...,...,...,...,...
240897,ZZ,EH16,Orthopedic Surgery,2012,21.0,20.0,0.0
240898,ZZ,LA2 8,Emergency Medicine,2012,38.0,38.0,0.0
240899,ZZ,M4K 2,Family Practice,2012,65.5,0.0,65.5
240900,ZZ,N8N4N,Nurse Practitioner,2012,25.0,0.0,25.0
240901,ZZ,N8X 1,Physician Assistant,2012,149.0,0.0,149.0

In [8]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2013),sep='\t', nrows=5000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2013),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9287877 entries, 0 to 9287876
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 1.9+ GB

In [9]:
data_df.drop(data_df[data_df['NPI'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['NPPES_PROVIDER_COUNTRY'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9287876 entries, 1 to 9287876
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 2.0+ GB

In [10]:
data_df['NPPES_PROVIDER_ZIP'] = data_df['NPPES_PROVIDER_ZIP'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['NPPES_PROVIDER_ZIP'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['PLACE_OF_SERVICE']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['PLACE_OF_SERVICE']]
data_df['facility'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "F", 0)
data_df['outside'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "O", 0)
data_df['year'] = 2013


df_data_2013 = data_df.groupby(['NPPES_PROVIDER_STATE', 'new_zip', 'PROVIDER_TYPE', 'year']).agg({'LINE_SRVC_CNT': ['median'],
                                                                                                      'facility' : ['median'],
                                                                                                      'outside' : ['median']})
       
df_data_2013

                                                       LINE_SRVC_CNT facility  \
                                                              median   median
NPPES_PROVIDER_STATE new_zip PROVIDER_TYPE        year
AA                   20307   Anesthesiology       2013          16.0     16.0
                     28310   Emergency Medicine   2013          34.0     34.0
                     28547   Internal Medicine    2013          15.0     15.0
                     73503   Diagnostic Radiology 2013          26.0     26.0
                     94535   General Surgery      2013          22.0     22.0
...                                                              ...      ...
ZZ                   L2H3G   Physical Therapist   2013         248.0      0.0
                     LA2 8   Emergency Medicine   2013          33.0     33.0
                     M4T 1   Neurology            2013          19.0     19.0
                     N8N4N   Nurse Practitioner   2013          16.0      0.0
                     N8X 1   Physician Assistant  2013          88.0      0.0

                                                       outside
                                                        median
NPPES_PROVIDER_STATE new_zip PROVIDER_TYPE        year
AA                   20307   Anesthesiology       2013     0.0
                     28310   Emergency Medicine   2013     0.0
                     28547   Internal Medicine    2013     0.0
                     73503   Diagnostic Radiology 2013     0.0
                     94535   General Surgery      2013     0.0
...                                                        ...
ZZ                   L2H3G   Physical Therapist   2013   173.0
                     LA2 8   Emergency Medicine   2013     0.0
                     M4T 1   Neurology            2013     0.0
                     N8N4N   Nurse Practitioner   2013    16.0
                     N8X 1   Physician Assistant  2013    88.0

[247701 rows x 3 columns]

In [11]:
df_data_2013 = df_data_2013.reset_index()
df_data_2013.columns = ['state', 'zip_code', 'provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2013

,state,zip_code,provider_type,year,line_srcv_median,facility_median,outside_median
0,AA,20307,Anesthesiology,2013,16.0,16.0,0.0
1,AA,28310,Emergency Medicine,2013,34.0,34.0,0.0
2,AA,28547,Internal Medicine,2013,15.0,15.0,0.0
3,AA,73503,Diagnostic Radiology,2013,26.0,26.0,0.0
4,AA,94535,General Surgery,2013,22.0,22.0,0.0
...,...,...,...,...,...,...,...
247696,ZZ,L2H3G,Physical Therapist,2013,248.0,0.0,173.0
247697,ZZ,LA2 8,Emergency Medicine,2013,33.0,33.0,0.0
247698,ZZ,M4T 1,Neurology,2013,19.0,19.0,0.0
247699,ZZ,N8N4N,Nurse Practitioner,2013,16.0,0.0,16.0
247700,ZZ,N8X 1,Physician Assistant,2013,88.0,0.0,88.0

In [12]:
data_df_total = pd.concat([df_data_2012, df_data_2013])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 488603 entries, 0 to 247700
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   state             488603 non-null  object
 1   zip_code          488603 non-null  object
 2   provider_type     488603 non-null  object
 3   year              488603 non-null  int64
 4   line_srcv_median  488603 non-null  float64
 5   facility_median   488603 non-null  float64
 6   outside_median    488603 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 29.8+ MB

In [13]:
data_df_total[240900:240920]

,state,zip_code,provider_type,year,line_srcv_median,facility_median,outside_median
240900,ZZ,N8N4N,Nurse Practitioner,2012,25.0,0.0,25.0
240901,ZZ,N8X 1,Physician Assistant,2012,149.0,0.0,149.0
0,AA,20307,Anesthesiology,2013,16.0,16.0,0.0
1,AA,28310,Emergency Medicine,2013,34.0,34.0,0.0
2,AA,28547,Internal Medicine,2013,15.0,15.0,0.0
3,AA,73503,Diagnostic Radiology,2013,26.0,26.0,0.0
4,AA,94535,General Surgery,2013,22.0,22.0,0.0
5,AE,09114,Physician Assistant,2013,26.5,0.0,26.5
6,AE,09180,Physician Assistant,2013,50.0,0.0,50.0
7,AE,09180,Pulmonary Disease,2013,25.0,0.0,16.0
8,AE,09550,Emergency Medicine,2013,33.5,33.5,0.0
9,AE,09636,Physician Assistant,2013,30.0,30.0,0.0
10,AE,9042.,General Surgery,2013,34.0,34.0,0.0
11,AE,91070,Nurse Practitioner,2013,32.0,20.0,0.0
12,AE,9114,Family Practice,2013,16.5,15.5,0.0
13,AE,9180,Diagnostic Radiology,2013,44.5,44.5,0.0
14,AE,9180,Emergency Medicine,2013,73.0,73.0,0.0
15,AE,9180,Physician Assistant,2013,26.5,26.5,0.0
16,AE,9180,Psychiatry,2013,64.0,0.0,64.0
17,AE,9180,Pulmonary Disease,2013,21.0,21.0,0.0

In [14]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2014),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2014),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9316308 entries, 0 to 9316307
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.8+ GB

In [15]:
data_df.drop(data_df[data_df['npi'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['nppes_provider_country'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9316307 entries, 1 to 9316307
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [16]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9316307 entries, 1 to 9316307
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [17]:
data_df['nppes_provider_zip'] = data_df['nppes_provider_zip'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['nppes_provider_zip'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['place_of_service']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['place_of_service']]
data_df['facility'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "F", 0)
data_df['outside'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "O", 0)

data_df['year'] = 2014


df_data_2014 = data_df.groupby(['nppes_provider_state', 'new_zip', 'provider_type', 'year']).agg({'line_srvc_cnt': ['median'],
                                                                                                      'facility' : ['median'],
                                                                                                      'outside' : ['median']})
       
df_data_2014

                                                      line_srvc_cnt facility  \
                                                             median   median
nppes_provider_state new_zip provider_type       year
AA                   20307   Anesthesiology      2014          19.0     19.0
                     28310   Emergency Medicine  2014          22.5     22.0
                     28547   Internal Medicine   2014          26.5     26.5
                     31699   General Surgery     2014          53.5      0.0
                     32925   Emergency Medicine  2014          12.0     12.0
...                                                             ...      ...
ZZ                   EH16    Orthopedic Surgery  2014          23.5     20.0
                     IP28    Anesthesiology      2014          50.0     50.0
                     LA2 8   Emergency Medicine  2014          37.0     37.0
                     N8N4N   Nurse Practitioner  2014          12.0      0.0
                     N9A     Physician Assistant 2014          58.0      0.0

                                                      outside
                                                       median
nppes_provider_state new_zip provider_type       year
AA                   20307   Anesthesiology      2014     0.0
                     28310   Emergency Medicine  2014     0.0
                     28547   Internal Medicine   2014     0.0
                     31699   General Surgery     2014    35.5
                     32925   Emergency Medicine  2014     0.0
...                                                       ...
ZZ                   EH16    Orthopedic Surgery  2014     0.0
                     IP28    Anesthesiology      2014     0.0
                     LA2 8   Emergency Medicine  2014     0.0
                     N8N4N   Nurse Practitioner  2014    12.0
                     N9A     Physician Assistant 2014    58.0

[251904 rows x 3 columns]

In [18]:
df_data_2014 = df_data_2014.reset_index()
df_data_2014.columns = ['state', 'zip_code', 'provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2014

,state,zip_code,provider_type,year,line_srcv_median,facility_median,outside_median
0,AA,20307,Anesthesiology,2014,19.0,19.0,0.0
1,AA,28310,Emergency Medicine,2014,22.5,22.0,0.0
2,AA,28547,Internal Medicine,2014,26.5,26.5,0.0
3,AA,31699,General Surgery,2014,53.5,0.0,35.5
4,AA,32925,Emergency Medicine,2014,12.0,12.0,0.0
...,...,...,...,...,...,...,...
251899,ZZ,EH16,Orthopedic Surgery,2014,23.5,20.0,0.0
251900,ZZ,IP28,Anesthesiology,2014,50.0,50.0,0.0
251901,ZZ,LA2 8,Emergency Medicine,2014,37.0,37.0,0.0
251902,ZZ,N8N4N,Nurse Practitioner,2014,12.0,0.0,12.0
251903,ZZ,N9A,Physician Assistant,2014,58.0,0.0,58.0

In [19]:
data_df_total = pd.concat([data_df_total, df_data_2014])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 740507 entries, 0 to 251903
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   state             740507 non-null  object
 1   zip_code          740507 non-null  object
 2   provider_type     740507 non-null  object
 3   year              740507 non-null  int64
 4   line_srcv_median  740507 non-null  float64
 5   facility_median   740507 non-null  float64
 6   outside_median    740507 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 45.2+ MB

In [20]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2015),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2015),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9497892 entries, 0 to 9497891
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.8+ GB

In [21]:
data_df.drop(data_df[data_df['npi'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['nppes_provider_country'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9497891 entries, 1 to 9497891
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [22]:
data_df['nppes_provider_zip'] = data_df['nppes_provider_zip'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['nppes_provider_zip'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['place_of_service']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['place_of_service']]
data_df['facility'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "F", 0)
data_df['outside'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "O", 0)
data_df['year'] = 2015


df_data_2015 = data_df.groupby(['nppes_provider_state', 'new_zip', 'provider_type', 'year']).agg({'line_srvc_cnt': ['median'],
                                                                                                      'facility' : ['median'],
                                                                                                      'outside' : ['median']})
       
df_data_2015

                                                      line_srvc_cnt facility  \
                                                             median   median
nppes_provider_state new_zip provider_type       year
AA                   20307   Anesthesiology      2015          12.0     12.0
                     28310   Emergency Medicine  2015          38.5     38.5
                     28547   Internal Medicine   2015          30.0     30.0
                     31699   General Surgery     2015          57.5      0.0
                     37389   Family Practice     2015          22.0      0.0
...                                                             ...      ...
ZZ                   LA1 4   Physician Assistant 2015          75.0     75.0
                     M3B 1   Psychiatry          2015          68.0      0.0
                     N9A     Physician Assistant 2015          51.0      0.0
                     PO BO   Psychiatry          2015          37.0      0.0
                     V6Z1Y   Internal Medicine   2015          29.0     29.0

                                                      outside
                                                       median
nppes_provider_state new_zip provider_type       year
AA                   20307   Anesthesiology      2015     0.0
                     28310   Emergency Medicine  2015     0.0
                     28547   Internal Medicine   2015     0.0
                     31699   General Surgery     2015    31.5
                     37389   Family Practice     2015    22.0
...                                                       ...
ZZ                   LA1 4   Physician Assistant 2015     0.0
                     M3B 1   Psychiatry          2015    68.0
                     N9A     Physician Assistant 2015    35.0
                     PO BO   Psychiatry          2015    37.0
                     V6Z1Y   Internal Medicine   2015     0.0

[255149 rows x 3 columns]

In [23]:
df_data_2015 = df_data_2015.reset_index()
df_data_2015.columns = ['state', 'zip_code', 'provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2015

,state,zip_code,provider_type,year,line_srcv_median,facility_median,outside_median
0,AA,20307,Anesthesiology,2015,12.0,12.0,0.0
1,AA,28310,Emergency Medicine,2015,38.5,38.5,0.0
2,AA,28547,Internal Medicine,2015,30.0,30.0,0.0
3,AA,31699,General Surgery,2015,57.5,0.0,31.5
4,AA,37389,Family Practice,2015,22.0,0.0,22.0
...,...,...,...,...,...,...,...
255144,ZZ,LA1 4,Physician Assistant,2015,75.0,75.0,0.0
255145,ZZ,M3B 1,Psychiatry,2015,68.0,0.0,68.0
255146,ZZ,N9A,Physician Assistant,2015,51.0,0.0,35.0
255147,ZZ,PO BO,Psychiatry,2015,37.0,0.0,37.0
255148,ZZ,V6Z1Y,Internal Medicine,2015,29.0,29.0,0.0

In [24]:
data_df_total = pd.concat([data_df_total, df_data_2015])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 995656 entries, 0 to 255148
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   state             995656 non-null  object
 1   zip_code          995656 non-null  object
 2   provider_type     995656 non-null  object
 3   year              995656 non-null  int64
 4   line_srcv_median  995656 non-null  float64
 5   facility_median   995656 non-null  float64
 6   outside_median    995656 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 60.8+ MB

In [25]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2016),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2016),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9714897 entries, 0 to 9714896
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  AVERAGE_SUBMITTED_CHRG_AMT        float64
 24  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 25  AVERAGE_MEDICARE_STANDARD_AMT     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [26]:
data_df.drop(data_df[data_df['NPI'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['NPPES_PROVIDER_COUNTRY'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9714896 entries, 1 to 9714896
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  AVERAGE_SUBMITTED_CHRG_AMT        float64
 24  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 25  AVERAGE_MEDICARE_STANDARD_AMT     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 2.0+ GB

In [27]:
data_df['NPPES_PROVIDER_ZIP'] = data_df['NPPES_PROVIDER_ZIP'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['NPPES_PROVIDER_ZIP'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['PLACE_OF_SERVICE']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['PLACE_OF_SERVICE']]
data_df['facility'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "F", 0)
data_df['outside'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "O", 0)
data_df['year'] = 2016


df_data_2016 = data_df.groupby(['NPPES_PROVIDER_STATE', 'new_zip', 'PROVIDER_TYPE', 'year']).agg({'LINE_SRVC_CNT': ['median'],
                                                                                                      'facility' : ['median'],
                                                                                                      'outside' : ['median']})
       
df_data_2016

                                                         LINE_SRVC_CNT  \
                                                                median
NPPES_PROVIDER_STATE new_zip PROVIDER_TYPE          year
AA                   20307   Anesthesiology         2016          11.0
                     28547   Internal Medicine      2016          50.5
                     31699   General Surgery        2016          28.0
                     37389   Family Practice        2016          22.0
                     73503   Diagnostic Radiology   2016          27.0
...                                                                ...
ZZ                   N9A     Physician Assistant    2016          76.5
                     N9K1C   Optometry              2016          20.0
                     PO BO   Psychiatry             2016          38.5
                     T2N2V   Thoracic Surgery       2016          13.5
                     nan     Psychologist, Clinical 2016          51.5

                                                         facility outside
                                                           median  median
NPPES_PROVIDER_STATE new_zip PROVIDER_TYPE          year
AA                   20307   Anesthesiology         2016     11.0     0.0
                     28547   Internal Medicine      2016     50.5     0.0
                     31699   General Surgery        2016      0.0    15.0
                     37389   Family Practice        2016      0.0    22.0
                     73503   Diagnostic Radiology   2016     26.0     0.0
...                                                           ...     ...
ZZ                   N9A     Physician Assistant    2016      0.0    72.0
                     N9K1C   Optometry              2016      0.0    20.0
                     PO BO   Psychiatry             2016      7.5    31.0
                     T2N2V   Thoracic Surgery       2016     13.5     0.0
                     nan     Psychologist, Clinical 2016      0.0    51.0

[257082 rows x 3 columns]

In [28]:
df_data_2016 = df_data_2016.reset_index()
df_data_2016.columns = ['state', 'zip_code', 'provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2016

,state,zip_code,provider_type,year,line_srcv_median,facility_median,outside_median
0,AA,20307,Anesthesiology,2016,11.0,11.0,0.0
1,AA,28547,Internal Medicine,2016,50.5,50.5,0.0
2,AA,31699,General Surgery,2016,28.0,0.0,15.0
3,AA,37389,Family Practice,2016,22.0,0.0,22.0
4,AA,73503,Diagnostic Radiology,2016,27.0,26.0,0.0
...,...,...,...,...,...,...,...
257077,ZZ,N9A,Physician Assistant,2016,76.5,0.0,72.0
257078,ZZ,N9K1C,Optometry,2016,20.0,0.0,20.0
257079,ZZ,PO BO,Psychiatry,2016,38.5,7.5,31.0
257080,ZZ,T2N2V,Thoracic Surgery,2016,13.5,13.5,0.0
257081,ZZ,nan,"Psychologist, Clinical",2016,51.5,0.0,51.0

In [29]:
data_df_total = pd.concat([data_df_total, df_data_2016])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1252738 entries, 0 to 257081
Data columns (total 7 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   state             1252738 non-null  object
 1   zip_code          1252738 non-null  object
 2   provider_type     1252738 non-null  object
 3   year              1252738 non-null  int64
 4   line_srcv_median  1252738 non-null  float64
 5   facility_median   1252738 non-null  float64
 6   outside_median    1252738 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 76.5+ MB

In [30]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2017),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2017),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9847444 entries, 0 to 9847443
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [31]:
data_df.drop(data_df[data_df['npi'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['nppes_provider_country'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9847443 entries, 1 to 9847443
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 2.0+ GB

In [32]:
data_df['nppes_provider_zip'] = data_df['nppes_provider_zip'].apply(str)
#data_df.info()
data_df['new_zip'] = data_df['nppes_provider_zip'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['place_of_service']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['place_of_service']]
data_df['facility'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "F", 0)
data_df['outside'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "O", 0)
data_df['year'] = 2017


df_data_2017 = data_df.groupby(['nppes_provider_state', 'new_zip', 'provider_type', 'year']).agg({'line_srvc_cnt': ['median'],
                                                                                                      'facility' : ['median'],
                                                                                                      'outside' : ['median']})
       
df_data_2017

                                                         line_srvc_cnt  \
                                                                median
nppes_provider_state new_zip provider_type          year
AA                   28547   Internal Medicine      2017          91.0
                     31699   General Surgery        2017          11.0
                     37389   Family Practice        2017          21.0
                     39530   Nurse Practitioner     2017          50.5
                     73503   Diagnostic Radiology   2017          34.0
...                                                                ...
ZZ                   N9G 3   Nurse Practitioner     2017          41.5
                     N9K1C   Optometry              2017          23.0
                     PO BO   Psychiatry             2017          26.0
                     V1J 2   Internal Medicine      2017          20.0
                     nan     Psychologist, Clinical 2017         137.0

                                                         facility outside
                                                           median  median
nppes_provider_state new_zip provider_type          year
AA                   28547   Internal Medicine      2017     91.0     0.0
                     31699   General Surgery        2017      0.0    11.0
                     37389   Family Practice        2017      0.0    17.0
                     39530   Nurse Practitioner     2017     50.0     0.0
                     73503   Diagnostic Radiology   2017     34.0     0.0
...                                                           ...     ...
ZZ                   N9G 3   Nurse Practitioner     2017     41.5     0.0
                     N9K1C   Optometry              2017      0.0    23.0
                     PO BO   Psychiatry             2017     16.0     0.0
                     V1J 2   Internal Medicine      2017     20.0     0.0
                     nan     Psychologist, Clinical 2017      0.0   136.5

[260460 rows x 3 columns]

In [33]:
df_data_2017 = df_data_2017.reset_index()
df_data_2017.columns = ['state', 'zip_code', 'provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2017

,state,zip_code,provider_type,year,line_srcv_median,facility_median,outside_median
0,AA,28547,Internal Medicine,2017,91.0,91.0,0.0
1,AA,31699,General Surgery,2017,11.0,0.0,11.0
2,AA,37389,Family Practice,2017,21.0,0.0,17.0
3,AA,39530,Nurse Practitioner,2017,50.5,50.0,0.0
4,AA,73503,Diagnostic Radiology,2017,34.0,34.0,0.0
...,...,...,...,...,...,...,...
260455,ZZ,N9G 3,Nurse Practitioner,2017,41.5,41.5,0.0
260456,ZZ,N9K1C,Optometry,2017,23.0,0.0,23.0
260457,ZZ,PO BO,Psychiatry,2017,26.0,16.0,0.0
260458,ZZ,V1J 2,Internal Medicine,2017,20.0,20.0,0.0
260459,ZZ,nan,"Psychologist, Clinical",2017,137.0,0.0,136.5

In [34]:
data_df_total = pd.concat([data_df_total, df_data_2017])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1513198 entries, 0 to 260459
Data columns (total 7 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   state             1513198 non-null  object
 1   zip_code          1513198 non-null  object
 2   provider_type     1513198 non-null  object
 3   year              1513198 non-null  int64
 4   line_srcv_median  1513198 non-null  float64
 5   facility_median   1513198 non-null  float64
 6   outside_median    1513198 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 92.4+ MB

In [35]:
data_df_total = data_df_total.fillna(0)
data_df_total

,state,zip_code,provider_type,year,line_srcv_median,facility_median,outside_median
0,AA,20307,Anesthesiology,2012,14.0,14.0,0.0
1,AA,28310,Emergency Medicine,2012,14.0,14.0,0.0
2,AA,32925,Emergency Medicine,2012,45.0,14.0,0.0
3,AA,73503,Diagnostic Radiology,2012,30.0,27.0,0.0
4,AE,09550,Emergency Medicine,2012,31.5,31.5,0.0
...,...,...,...,...,...,...,...
260455,ZZ,N9G 3,Nurse Practitioner,2017,41.5,41.5,0.0
260456,ZZ,N9K1C,Optometry,2017,23.0,0.0,23.0
260457,ZZ,PO BO,Psychiatry,2017,26.0,16.0,0.0
260458,ZZ,V1J 2,Internal Medicine,2017,20.0,20.0,0.0
260459,ZZ,nan,"Psychologist, Clinical",2017,137.0,0.0,136.5

In [36]:
data_df_total = data_df_total.reset_index(drop = True)
data_df_total

,state,zip_code,provider_type,year,line_srcv_median,facility_median,outside_median
0,AA,20307,Anesthesiology,2012,14.0,14.0,0.0
1,AA,28310,Emergency Medicine,2012,14.0,14.0,0.0
2,AA,32925,Emergency Medicine,2012,45.0,14.0,0.0
3,AA,73503,Diagnostic Radiology,2012,30.0,27.0,0.0
4,AE,09550,Emergency Medicine,2012,31.5,31.5,0.0
...,...,...,...,...,...,...,...
1513193,ZZ,N9G 3,Nurse Practitioner,2017,41.5,41.5,0.0
1513194,ZZ,N9K1C,Optometry,2017,23.0,0.0,23.0
1513195,ZZ,PO BO,Psychiatry,2017,26.0,16.0,0.0
1513196,ZZ,V1J 2,Internal Medicine,2017,20.0,20.0,0.0
1513197,ZZ,nan,"Psychologist, Clinical",2017,137.0,0.0,136.5

In [37]:
#Sort output_data by year largest to smallest to match other file.
data_df_total = data_df_total.sort_values(["year", "state", "zip_code", "provider_type"],  ascending=[False, True, True, True])

In [48]:
updated_data_df = pd.read_csv(os.path.join("..", "Data", data_updated))
# Drop the null rows that are completely null.
updated_data_df = updated_data_df.dropna(axis='rows', how='all')

updated_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73850 entries, 0 to 73849
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LASTNAME    70693 non-null  object
 1   FIRSTNAME   70694 non-null  object
 2   MIDNAME     73850 non-null  object
 3   BUSNAME     3154 non-null   object
 4   GENERAL     73850 non-null  object
 5   SPECIALTY   69677 non-null  object
 6   UPIN        6259 non-null   object
 7   NPI         73850 non-null  int64
 8   DOB         69832 non-null  float64
 9   ADDRESS     73841 non-null  object
 10  CITY        73849 non-null  object
 11  STATE       73845 non-null  object
 12  ZIP         73850 non-null  int64
 13  EXCLTYPE    73850 non-null  object
 14  EXCLDATE    73850 non-null  int64
 15  REINDATE    73850 non-null  int64
 16  WAIVERDATE  73850 non-null  int64
 17  WVRSTATE    14 non-null     object
dtypes: float64(1), int64(5), object(12)
memory usage: 10.7+ MB

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [49]:
updated_df = updated_data_df.groupby(['STATE', 'ZIP']).agg({'EXCLTYPE': ['count']})
updated_df

            EXCLTYPE
               count
STATE ZIP
AE    9110         1
AK    35442        2
      99501       18
      99502       15
      99503       20
...              ...
XX    6050         1
      7010         1
      9096         1
      9812         1
      96950        1

[17466 rows x 1 columns]

In [50]:
updated_df = updated_df.reset_index()
updated_df.columns = ['state', 'zip_code', 'leie_count']
updated_df['zip_code'] = updated_df['zip_code'].apply(str)
updated_df

      state zip_code  leie_count
0        AE     9110           1
1        AK    35442           2
2        AK    99501          18
3        AK    99502          15
4        AK    99503          20
...     ...      ...         ...
17461    XX     6050           1
17462    XX     7010           1
17463    XX     9096           1
17464    XX     9812           1
17465    XX    96950           1

[17466 rows x 3 columns]

In [51]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17466 entries, 0 to 17465
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state       17466 non-null  object
 1   zip_code    17466 non-null  object
 2   leie_count  17466 non-null  int64
dtypes: int64(1), object(2)
memory usage: 409.5+ KB

In [52]:
data_df_total_new = pd.merge(data_df_total, updated_df, how='left', on=['state','zip_code'])
data_df_total_new

,state,zip_code,provider_type,year,line_srcv_median,facility_median,outside_median,leie_count
0,AA,28547,Internal Medicine,2017,91.0,91.0,0.0,NaN
1,AA,31699,General Surgery,2017,11.0,0.0,11.0,NaN
2,AA,37389,Family Practice,2017,21.0,0.0,17.0,NaN
3,AA,39530,Nurse Practitioner,2017,50.5,50.0,0.0,NaN
4,AA,73503,Diagnostic Radiology,2017,34.0,34.0,0.0,NaN
...,...,...,...,...,...,...,...,...
1513193,ZZ,EH16,Orthopedic Surgery,2012,21.0,20.0,0.0,NaN
1513194,ZZ,LA2 8,Emergency Medicine,2012,38.0,38.0,0.0,NaN
1513195,ZZ,M4K 2,Family Practice,2012,65.5,0.0,65.5,NaN
1513196,ZZ,N8N4N,Nurse Practitioner,2012,25.0,0.0,25.0,NaN
1513197,ZZ,N8X 1,Physician Assistant,2012,149.0,0.0,149.0,NaN

In [53]:
data_df_total_new = data_df_total_new.fillna(0)
data_df_total_new

,state,zip_code,provider_type,year,line_srcv_median,facility_median,outside_median,leie_count
0,AA,28547,Internal Medicine,2017,91.0,91.0,0.0,0.0
1,AA,31699,General Surgery,2017,11.0,0.0,11.0,0.0
2,AA,37389,Family Practice,2017,21.0,0.0,17.0,0.0
3,AA,39530,Nurse Practitioner,2017,50.5,50.0,0.0,0.0
4,AA,73503,Diagnostic Radiology,2017,34.0,34.0,0.0,0.0
...,...,...,...,...,...,...,...,...
1513193,ZZ,EH16,Orthopedic Surgery,2012,21.0,20.0,0.0,0.0
1513194,ZZ,LA2 8,Emergency Medicine,2012,38.0,38.0,0.0,0.0
1513195,ZZ,M4K 2,Family Practice,2012,65.5,0.0,65.5,0.0
1513196,ZZ,N8N4N,Nurse Practitioner,2012,25.0,0.0,25.0,0.0
1513197,ZZ,N8X 1,Physician Assistant,2012,149.0,0.0,149.0,0.0

In [54]:
output_data_file = "output_data_state_zip_provider_year.csv"
data_df_total_new.to_csv(os.path.join("..", "Data", output_data_file), index= False, sep=',')